<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/account}"
>
<head>
    <title>Quên mật khẩu</title>
</head>

<body>
<div layout:fragment="body">
    <div class="card mx-4">
        <div class="card-body">
            <div class="d-flex p-3">
                <div class="ms-auto text-end">
                    <h4 class="font-size-20">Quên mật khẩu</h4>
                </div>
            </div>
            <div class="p-3">
                <div id="message" role="alert" style="display: none;"></div>

                <!-- Only show error message when access with code expires -->
                <div th:if="${message}" class="alert alert-danger" role="alert">
                    <i class="fas fa-times-circle fs-5 me-2"></i>
                    <span th:text="${message}"></span>
                </div>

                <div class="form-horizontal">
                    <div class="mb-3">
                        <label for="useremail" class="form-label font-size-18 fw-bolder text-secondary">Email</label>
                        <input type="email" class="form-control" id="useremail" placeholder="Nhập email">
                    </div>
                    <div class="mb-3">
                        <div class="text-end">
                            <button class="btn btn-primary w-md waves-effect waves-light" type="submit"
                                    onclick="sendMail()">Gửi
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <div class="mt-5 text-center position-relative">
        <p class="text-white-50">Nhớ mật khẩu rồi ak ?
            <a href="/login" class="fw-bold text-white"> Đăng nhập luôn!</a></p>
        <script>
            document.write(new Date().getFullYear())
        </script>
        © FShop <span class="d-none d-sm-inline-block"> - Work by <i class="mdi mdi-heart text-danger"></i></span>
    </div>

    <div class="modal fade" id="loadingBody"
         style="opacity: 30%; background-color: black; display: none; text-align: center; padding-top: 45vh" tabindex=""
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="spinner-border" style="width: 3rem; height: 3rem; color: #c9c6c6" role="status">
            <span class="sr-only"></span>
        </div>
    </div>
</div>

<script layout:fragment="script">

    function sendMail() {
        const message = $('#message');
        $('#loadingBody').css('display', 'unset');
        console.log("Sending email...");

        $.ajax({
            url: '/api/request-forgot-password?email=' + $('#useremail').val(),
            contentType: 'application/json',
            type: 'GET',
            success: function (data) {
                $('#loadingBody').hide();
                message.addClass("alert alert-success").html(`<i class="fas fa-check-circle fs-5 me-2"></i><span>${data}</span>`).show();
            },
            error: function (data) {
                $('#loadingBody').hide();
                message.addClass("alert alert-danger").html(`<i class="fas fa-times-circle fs-5 me-2"></i><span>${data.responseText}</span>`).show();
            }
        });
    }
</script>

</body>
</html>
