<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/account}"
>

<head>
    <meta charset="utf-8">
    <title>Quên mật khẩu</title>
</head>

<body layout:fragment="account">

<!-- Loader -->
<div id="preloader"><div id="status"><div class="spinner"></div></div></div>

<!-- Begin page -->
<div class="accountbg"></div>
<div class="account-pages mt-5 pt-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-5 col-xl-5">
                <div class="card mx-4">
                    <div class="card-body">

                        <div class="d-flex p-3">
                            <div>
                                <a href="index.html" class="">
<!--                                 <img th:src="@{/assets/img/logo_dark.png}" alt="" height="22" class="auth-logo logo-dark">-->
<!--                  <img th:src="@{/assets/img/logo.png}" alt="" height="22" class="auth-logo logo-light">-->
                                </a>
                            </div>
                            <div class="ms-auto text-end">
                                <h4 class="font-size-18">Quên mật khẩu</h4>
                            </div>
                        </div>
                        <div class="p-3">
                            <div class="alert alert-success" id="message" th:if="${message == null}" role="alert">
                                Nhập Email của bạn và một đường dẫn sẽ được gửi cho bạn!
                            </div>
                            <div class="alert alert-danger" id="message" th:if="${message != null}" role="alert">
                                [[${message}]]
                            </div>
<!--                            <div class="alert alert-danger" id="messageError" style="display:none;" role="alert">-->
<!--                                Đã xảy ra lỗi, vui lòng thử lại-->
<!--                            </div>-->

                            <div class="form-horizontal">
                                <div class="mb-3">
                                    <label for="useremail" class="form-label">Email</label>
                                    <input type="email" class="form-control" id="useremail" placeholder="Nhập email">
                                </div>
                                <div class="mb-3">
                                    <div class="text-end">
                                        <button class="btn btn-primary w-md waves-effect waves-light" type="submit" onclick="sendMail()">Gửi</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="mt-5 text-center position-relative">
                    <p class="text-white-50">Remember It ? <a href="pages-login.html" tppabs="https://themesbrand.com/foxia/layouts/blue/pages-login.html" class="fw-bold text-white"> Sign In Here </a> </p>
                    <p class="text-white-50"> © <script>document.write(new Date().getFullYear())</script>  Foxia. Crafted with <i class="mdi mdi-heart text-danger"></i> by Themesbrand</p>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="loadingBody"
     style="opacity: 30%; background-color: black; display: none; text-align: center; padding-top: 45vh" tabindex="" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="spinner-border" style="width: 3rem; height: 3rem; color: #c9c6c6" role="status">
        <span class="sr-only"></span>
    </div><!--      </div>-->
</div>

<script>
   function sendMail(){
       document.getElementById('loadingBody').style.display = 'unset'
       $.ajax({
           url: '/api/request-forgot-password?email=' + $('#useremail')[0].value,
           contentType: 'application/json',
           error: function (errors) {
               console.log(errors)
                let message = document.getElementById('message');
                message.innerHTML = errors.responseText
                message.className = 'alert alert-danger'
               document.getElementById('loadingBody').style.display = 'none'

           },
           success: function (dataOut) {
               let message = document.getElementById('message');
               message.innerHTML = 'Gửi thành công vui lòng kiểm tra email của bạn!'
               message.className = 'alert alert-success'
               document.getElementById('loadingBody').style.display = 'none'

           },
           type: 'GET'
       });
   }
</script>

</body>
</html>
