<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/account}"
>

<head>
  <meta charset="utf-8">
  <title>Quên mật khẩu</title>
</head>

<body layout:fragment="account">

<!-- Loader -->
<div id="preloader"><div id="status"><div class="spinner"></div></div></div>

<!-- Begin page -->
<div class="accountbg"></div>
<div class="account-pages mt-5 pt-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-5 col-xl-5">
        <div class="card mx-4">
          <div class="card-body">

            <div class="d-flex p-3">
              <div>
                <a href="index.html" class="">
<!--                  <img th:src="@{/assets/img/logo_dark.png}" alt="" height="22" class="auth-logo logo-dark">-->
<!--                  <img th:src="@{/assets/img/logo.png}" alt="" height="22" class="auth-logo logo-light">-->
                </a>
              </div>
              <div class="ms-auto text-end">
                <h4 class="font-size-18">Đặt lại mật khẩu</h4>
              </div>
            </div>
            <div class="p-3">
              <div class="alert alert-success" role="alert" id="message">
                Nhập mật khẩu mới
              </div>

              <div class="form-horizontal">
                <div class="mb-3" style="display:none;">
                  <label class="form-label" for="passwordOld">Mật khẩu cũ</label>
                  <input type="text" class="form-control" name="passwordOld" id="passwordOld"
                         placeholder="Nhập mật khẩu cũ">
                </div>
                <div class="mb-3">
                  <label class="form-label" for="passwordNew">Mật khẩu mới</label>
                  <input type="password" class="form-control" name="passwordNew" id="passwordNew"
                         placeholder="Nhập mật khẩu mới">
                </div>

                <div class="mb-3">
                  <label class="form-label" for="passwordComfirm">Xác nhận mật khẩu mới</label>
                  <input type="password" class="form-control" name="passwordComfirm"
                         id="passwordComfirm" placeholder="Nhập lại mật khẩu mới">
                </div>

                <div class="mb-3">
                  <div class="text-end">
                    <div class="btn btn-primary w-md waves-effect waves-light" onclick="resetPassword()" type="submit">Đặt lại mật khẩu</div>
                  </div>
                </div>
              </div>

            </div>

          </div>
        </div>
        <div class="mt-5 text-center position-relative">
          <p class="text-white-50">Remember It ? <a href="pages-login.html" tppabs="https://themesbrand.com/foxia/layouts/blue/pages-login.html" class="fw-bold text-white"> Sign In Here </a> </p>
          <p class="text-white-50"> © <script>document.write(new Date().getFullYear())</script>  Foxia. Crafted with <i class="mdi mdi-heart text-danger"></i> by Themesbrand</p>
        </div>

      </div>
    </div>
  </div>
</div>
<script>
  function resetPassword() {
    let passwordOld = $("#passwordOld")[0].value
    let passwordNew = $("#passwordNew")[0].value
    let passwordComfirm = $("#passwordComfirm")[0].value

    $.ajax({
      url: '/api/change-reset-password',
      data: JSON.stringify(
              {
                passwordOld: passwordOld,
                passwordNew: passwordNew,
                passwordComfirm: passwordComfirm
              }
      ),
      contentType: 'application/json',
      error: function (errors) {
        console.log(errors)
        let message = $('#message')[0];
        message.innerHTML = errors.responseJSON.vn
        message.className = "alert alert-danger"
      },
      success: function (dataOut) {
        // console.log(dataOut)
        let message = $('#message')[0];
        message.innerHTML = "Đặt lại mật khẩu thành công!"
        message.className = "alert alert-success"
        setTimeout(function () {window.location.href = '/login';}, 1500)
      },
      type: 'PUT'
    });
  }
</script>
</body>
</html>
