<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/account}"
>

<head>
    <title>Khôi phục mật khẩu</title>
</head>

<body>
<div layout:fragment="body">
    <div class="card mx-4">
        <div class="card-body">
            <div class="d-flex p-3">
                <div class="ms-auto text-end">
                    <h4 class="font-size-20">Đặt lại mật khẩu</h4>
                </div>
            </div>
            <div class="p-3">
                <div class="alert alert-info" role="alert" id="message">
                    <i class="fas fa-info-circle fs-5 me-2"></i>
                    <span>Nhập mật khẩu mới</span>
                </div>

                <div class="form-horizontal">
                    <div class="mb-3">
                        <label class="form-label font-size-18 fw-bolder text-secondary" for="passwordNew">Mật khẩu mới</label>
                        <input type="password" class="form-control" name="passwordNew" id="passwordNew"
                               placeholder="Nhập mật khẩu mới">
                    </div>

                    <div class="mb-3">
                        <label class="form-label font-size-18 fw-bolder text-secondary" for="passwordComfirm">Xác nhận mật khẩu</label>
                        <input type="password" class="form-control" name="passwordComfirm"
                               id="passwordComfirm" placeholder="Nhập Xác nhận mật khẩu">
                    </div>

                    <div class="mb-3">
                        <div class="text-end">
                            <div class="btn btn-primary w-md waves-effect waves-light"
                                 onclick="resetPassword()" type="submit">Xác nhận
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-5 text-center position-relative">
        <p class="text-white-50">Nhớ mật khẩu rồi ak?<a href="/login" class="fw-bold text-white"> Đăng nhập luôn!</a></p>
        <script>
            document.write(new Date().getFullYear())
        </script>
        © TechCam <span class="d-none d-sm-inline-block"> - Work by <i class="mdi mdi-heart text-danger"></i></span>
    </div>
</div>
<script layout:fragment="script">
    function resetPassword() {
        const message = $('#message');

        $.ajax({
            url: '/api/change-reset-password',
            type: 'PUT',
            contentType: 'application/json',
            data: JSON.stringify({
                passwordNew: $("#passwordNew").val(),
                passwordComfirm: $("#passwordComfirm").val()
            }),

            success: function (data) {
                message.attr('class', 'alert alert-success').html(`<i class="fas fa-check-circle fs-5 me-2"></i><span>Đặt lại mật khẩu thành công!</span>`);
                setTimeout(function () {
                    window.location.href = '/login';
                }, 1500)
            },
            error: function (data) {
                message.attr('class', 'alert alert-danger').html(`<i class="fas fa-times-circle fs-5 me-2"></i><span>${data.responseJSON.vn}</span>`);
            }
        });
    }
</script>
</body>
</html>
