<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/weblayout}"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>SMW - TECHCAM</title>
    <!-- SweetAlert2-->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<div layout:fragment="content" class="container-fluid">
    <section class="row main-page">
        <section class="col-2 mainLeft">
            <h1 class="heading-page">Người dùng</h1>
            <div class="filter-report">
                <div class="boxLeft">
                    <h3 class="leftTitle">Chức vụ</h3>
                    <div class="boxLeftC">
                        <select class="roleFilter w-100" multiple>
                            <option value="">Quản trị chi nhánh</option>
                            <option value="">Nhân viên kho</option>
                            <option value="">Nhân viên thu ngân</option>
                        </select>
                    </div>
                </div>
                <div class="boxLeft">
                    <h3 class="leftTitle">Trạng thái</h3>
                    <div class="boxLeftC">
                        <div class="form-group form-check">
                            <input class="form-check-input" type="radio" name="status" id="statusAll" value="Tất cả" onchange="onStatusChange(this)" checked>
                            <label class="form-check-label" for="statusAll">
                                Tất cả
                            </label>
                        </div>
                        <div class="form-group form-check">
                            <input class="form-check-input" type="radio" name="status" id="statusActive" value="Đang hoạt động" onchange="onStatusChange(this)">
                            <label class="form-check-label" for="statusActive">
                                Đang hoạt động
                            </label>
                        </div>
                        <div class="form-group form-check">
                            <input class="form-check-input" type="radio" name="status" id="statusInactive" value="Ngừng hoạt động" onchange="onStatusChange(this)">
                            <label class="form-check-label" for="statusInactive">
                                Ngừng hoạt động
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="col-10 mainRight">
            <div class="row justify-content-end">
                <button type="button" class="btn btn-primary col-auto mb-3 waves-effect waves-light" data-bs-toggle="modal" data-bs-target=".modal-add-staff">
                    <i class="fas fa-plus me-2"></i>Người dùng
                </button>
            </div>

            <!-- Modal Add Staff -->
            <div class="modal fade modal-add-staff" tabindex="-1" style="display: none;" aria-hidden="true">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title mt-0">Thêm người dùng</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form id="formAdd">
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-6 px-4">
                                        <table class="table-borderless w-100">
                                            <tr>
                                                <th style="width: 140px"><label class="form-label" for="fullName">Họ và tên</label><span class="required"> *</span></th>
                                                <td><input class="form-control" type="text" name="fullName" id="fullName" onblur="onType(this)"></td>
                                            </tr>
                                            <tr>
                                                <th style="width: 140px;"><label for="email" class="form-label">Email</label><span class="required"> *</span></th>
                                                <td><input type="email" name="email" id="email" class="form-control" onblur="onType(this)" placeholder="abc@email.com"></td>
                                            </tr>
                                            <tr>
                                                <th><label for="role" class="form-label">Chức vụ</label><span class="required"> *</span></th>
                                                <td>
                                                    <select class="form-select" name="role" id="role" onchange="onType(this)">
                                                        <option value="" disabled selected>-- Chọn Chức vụ --</option>
                                                        <option value="ROLE_ADMIN">Quản trị viên</option>
                                                        <option value="ROLE_USER">Nhân viên</option>
                                                    </select>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="col-6 px-4">
                                        <table class="table-borderless w-100">
                                            <tr>
                                                <th><label for="phoneNumber" class="form-label">Điện thoại</label><span class="required"> *</span></th>
                                                <td><input type="number" name="phoneNumber" id="phoneNumber" class="form-control" onblur="onType(this)" placeholder="0323456789"></td>
                                            </tr>
                                            <tr>
                                                <th><label for="address" class="form-label">Địa chỉ</label><span class="required"> *</span></th>
                                                <td><input type="text" name="address" id="address" class="form-control" onblur="onType(this)"></td>
                                            </tr>
                                            <tr>
                                                <th><label for="datepicker" class="form-label">Ngày sinh</label><span class="required"> *</span></th>
                                                <td><input type="text" name="dateOfBirth" id="datepicker" class="form-control" onblur="onType(this)" placeholder="dd/MM/yyyy"></td>
                                            </tr>
                                            <tr>
                                                <th style="vertical-align: top; padding-top: 7px;"><label for="note" class="form-label">Ghi chú</label></th>
                                                <td><textarea name="note" id="note" cols="30" rows="3"></textarea></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="resetForm()">
                                <i class="fas fa-ban me-2"></i>Đóng
                            </button>
                            <button type="button" class="btn btn-success" onclick="resetForm()">
                                <i class="fa fa-trash me-2"></i>Làm mới
                            </button>
                            <button type="button" id="btnAdd" class="btn btn-primary waves-effect waves-light">
                                <i class="fas fa-save pe-2"></i>Lưu
                            </button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- End Modal Add Staff -->

            <table id="datatable" class="table table-striped table-hover table-bordered dt-responsive nowrap dataTable no-footer">
                <thead>
                <th><input type="checkbox" name="checkAll" id="checkAll" onclick="checkAllJquery('checkAll', 'check-item');"></th>
                <th>Chức năng</th>
                <th>ID</th>
                <th>Mã nhân viên</th>
                <th>Họ tên</th>
                <th>Ngày sinh</th>
                <th>Số điện thoại</th>
                <th>Email</th>
                <th>Địa chỉ</th>
                <th>Ảnh</th>
                <th>Chức vụ</th>
                <th>Ngày bắt đầu</th>
                <th>Trạng thái</th>
                </thead>
                <tbody>
                <tr th:each="staff : ${staffs}">
                    <td><input type="checkbox" class="check-item" th:value="${staff.getId()}"></td>
                    <td class="row" style="width: 100px;" th:switch="${staff.getStatus()}">
                        <i class="col-4 fas fa-edit" style="color: darkblue;" title="Cập nhật" onclick="onBtnEdit(this)"></i>
                        <i th:case="1" class="col-4 fas fa-lock-open" style="color: green;" title="Khoá tài khoản" onclick="onBtnStatus(this)"></i>
                        <i th:case="0" class="col-4 fas fa-lock" style="color: red;" title="Mở khoá tài khoản" onclick="onBtnStatus(this)"></i>
                        <i class="col-4 fas fa-user-times" style="color: red;" title="Xoá người dùng" onclick="onBtnDelete(this)"></i>
                    </td>
                    <td th:text="${staff.getId()}"></td>
                    <td th:text="${staff.getStaffCode()}">Mã nhân viên</td>
                    <td th:text="${staff.getFullName()}">Họ tên</td>
                    <td th:text="${#dates.format(staff.getDateOfBirth(), 'dd/MM/yyyy')}">Ngày sinh</td>
                    <td th:text="${staff.getPhoneNumber()}">Số điện thoại</td>
                    <td th:text="${staff.getEmail()}">Email</td>
                    <td th:text="${staff.getAddress()}">Địa chỉ</td>
                    <td th:text="${staff.getAvatar()}">Ảnh</td>
                    <td th:switch="${staff.getRole()}">
                        <span th:case="ROLE_ADMIN">Quản trị viên</span>
                        <span th:case="ROLE_USER">Nhân viên</span>
                    </td>
                    <td th:text="${#temporals.format(staff.getCreateDate(), 'dd/MM/yyyy HH:mm:ss')}">Ngày bắt đầu</td>
                    <td th:switch="${staff.getStatus()}">
                        <span th:case="1">Đang hoạt động</span>
                        <span th:case="0">Ngừng hoạt động</span>
                    </td>
                </tr>
                </tbody>
            </table>

            <!-- Modal Edit Staff -->
            <div class="modal fade modal-edit-staff" tabindex="-1" style="display: none;" aria-hidden="true">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title mt-0">Cập nhật người dùng</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form id="formEdit">
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-6 px-4">
                                        <table class="table-borderless w-100">
                                            <tr>
                                                <th><label class="form-label" for="fullName-edit">Họ và tên</label><span class="required"> *</span></th>
                                                <td><input class="form-control" type="text" name="fullName" id="fullName-edit" onblur="onType(this)"></td>
                                            </tr>
                                            <tr>
                                                <th><label class="form-label" for="staffCode-edit">Mã nhân viên</label><span class="required"> *</span></th>
                                                <td><input type="text" name="staffCode" id="staffCode-edit" class="form-control" onblur="onType(this)"></td>
                                            </tr>
                                            <tr>
                                                <th><label for="email-edit" class="form-label">Email</label><span class="required"> *</span></th>
                                                <td><input type="email" name="email" id="email-edit" class="form-control" title="Không thể sửa email" disabled></td>
                                            </tr>
                                            <tr>
                                                <th><label for="role-edit" class="form-label">Chức vụ</label><span class="required"> *</span></th>
                                                <td>
                                                    <select class="form-select" name="role" id="role-edit">
                                                        <option value="" disabled selected>-- Chọn Chức vụ --</option>
                                                        <option value="ROLE_ADMIN">Quản trị viên</option>
                                                        <option value="ROLE_USER">Nhân viên</option>
                                                    </select>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="col-6 px-4">
                                        <table class="table-borderless w-100">
                                            <tr>
                                                <th><label for="phoneNumber-edit" class="form-label">Điện thoại</label><span class="required"> *</span></th>
                                                <td><input type="number" name="phoneNumber" id="phoneNumber-edit" class="form-control" onblur="onType(this)" placeholder="0323456789"></td>
                                            </tr>
                                            <tr>
                                                <th><label for="address-edit" class="form-label">Địa chỉ</label><span class="required"> *</span></th>
                                                <td><input type="text" name="address" id="address-edit" class="form-control" onblur="onType(this)"></td>
                                            </tr>
                                            <tr>
                                                <th><label for="birthdate-edit" class="form-label">Ngày sinh</label><span class="required"> *</span></th>
                                                <td><input type="text" name="dateOfBirth"  id="birthdate-edit" class="form-control" onblur="onType(this)" placeholder="dd/MM/yyyy"></td>
                                            </tr>
                                            <tr>
                                                <th style="vertical-align: top; padding-top: 7px;"><label for="note-edit" class="form-label">Ghi chú</label></th>
                                                <td><textarea name="note" id="note-edit" cols="30" rows="3"></textarea></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" name="id" id="id">
                        </form>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="resetForm()">
                                <i class="fas fa-ban me-2"></i>
                                Đóng
                            </button>
                            <button type="button" class="btn btn-success" onclick="resetForm()">
                                <i class="fa fa-trash me-2"></i>
                                Làm mới
                            </button>
                            <button type="button" id="btnEdit" class="btn btn-primary waves-effect waves-light">
                                <i class="fas fa-save pe-2"></i>
                                Lưu
                            </button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- End Modal Edit Staff -->
        </section>
    </section>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.roleFilter').chosen();

        hoverIconLock();
    });

    function hoverIconLock() {
        $('.fa-lock-open').hover(function () {
            $(this).removeClass('fa-lock-open').addClass('fa-lock').css('color', 'red');
        }, function () {
            $(this).removeClass('fa-lock').addClass('fa-lock-open').css('color', 'green');
        })

        $('.fa-lock').hover(function () {
            $(this).removeClass('fa-lock').addClass('fa-lock-open').css('color', 'green');
        }, function () {
            $(this).removeClass('fa-lock-open').addClass('fa-lock').css('color', 'red');
        })
    }

    function checkAllJquery(baseId, itemClass) {
        let baseCheck = $('#' + baseId).is(":checked");
        $('.' + itemClass).each(function () {
            if (!$(this).is(':disabled')) {
                $(this).prop('checked', baseCheck);
            }
        });
    }

    $('.arrow').click(function (e) {
        $(this).toggleClass('down');
        $(this).siblings('.expand').toggle();
    })

    $('.check-item').change(function (e) {
        const flag = checkSiblings();

        if (flag) {
            $('#checkAll').prop('checked', true);
        } else {
            $('#checkAll').prop('checked', false);
        }

        function checkSiblings() {
            const checkboxes = $('.check-item').parent().find('input[type="checkbox"]');
            let checkFlag = true;

            checkboxes.each(function () {
                if ($(this).prop("checked") === false) {
                    checkFlag = false;
                }
            });
            return checkFlag;
        }
    });

    // disable mousewheel on a input number field when in focus
    // (to prevent Chromium browsers change the value when scrolling)
    $('form').on('focus', 'input[type=number]', function (e) {
        $(this).on('wheel.disableScroll', function (e) {
            e.preventDefault()
        })
    })
    $('form').on('blur', 'input[type=number]', function (e) {
        $(this).off('wheel.disableScroll')
    })
</script>

<script>
    // event filter table by status
    function onStatusChange(element) {
        const value = $(element).val();
        console.log(value);
        const tagAll = $('#datatable tbody tr');
        const tag = $('tr td').filter(function() {
            return $(this).text()===value;
        });
        console.log(tag);

        if(value==='Tất cả') {
            tagAll.show();
        } else {
            tagAll.hide();
            tag.parent().show();
        }
    }

    // event reset form
    function resetForm() {
        const formInput = $("form :input");
        formInput.val("");
        $('#role').prop('selectedIndex', 0);
        formInput.removeClass('error');
    }

    // Submit formAdd
    $('#btnAdd').click(function () {
        let data = {};
        let formData = $('#formAdd').serializeArray();
        $.each(formData, function (i, v) {
            data["" + v.name + ""] = v.value;
        });

        if(validateForm('add')) {
            addStaff(data);
        } else {
            console.log("validate fail");
        }
    });

    // Event onKeyPress formAdd
    function onType(element) {
        const tag = $(element);
        if(tag.val() === '') {
            tag.addClass('error');
        } else {
            tag.removeClass('error');
        }
    }

    // Validation formAdd
    function validateForm(type) {
        let errorMessage = '';
        const fullName = (type==='add') ? $('#fullName') : $('#fullName-edit');
        let flag = true;

        if (fullName.val() === '') {
            fullName.addClass('error');
            flag = false;
        }

        const email = (type==='add') ? $('#email') : $('#email-edit');
        const patternEmail = /^\b[A-Z0-9._%-]+@[A-Z0-9.-]+\.[A-Z]{2,4}\b$/i;
        if (email.val() === '') {
            email.addClass('error');
            flag = false;
        } else if (!patternEmail.test(email.val())) {
            email.addClass('error');
            errorMessage += 'Email không hợp lệ!\n';
            flag = false;
        }

        const role = (type==='add') ? $('#role') : $('#role-edit');
        if (role.val() === null) {
            role.addClass('error');
            flag = false;
        }

        const phoneNumber = (type==='add') ? $('#phoneNumber') : $('#phoneNumber-edit');
        const patternPhone = /^(84|0[3|5|7|8|9])+([0-9]{8})\b$/i;
        if (phoneNumber.val() === '') {
            phoneNumber.addClass('error');
            flag = false;
        } else if (!patternPhone.test(phoneNumber.val())) {
            phoneNumber.addClass('error');
            errorMessage += 'Số điện thoại không hợp lệ!\n\n';
            flag = false;
        }

        const address = (type==='add') ? $('#address') : $('#address-edit');
        if (address.val() === '') {
            address.addClass('error');
            flag = false;
        }
        const datepicker = (type==='add') ? $('#datepicker') : $('#birthdate-edit');
        if (datepicker.val() === '') {
            datepicker.addClass('error');
            flag = false;
        }

        if (flag) {
            return true
        }
        errorMessage += 'Mời nhập lại!'
        const Toast = Swal.mixin({
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: true,
            didOpen: (toast) => {
                toast.addEventListener('mouseenter', Swal.stopTimer)
                toast.addEventListener('mouseleave', Swal.resumeTimer)
            }
        })
        Toast.fire({
            icon: 'error',
            title: errorMessage
        })
        return false;
    }

    //API add Staff
    function addStaff(data) {
        $.ajax({
            url: '/api/staff',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(data),
            dataType: 'json',
            success: function (result) {
                const Toast = Swal.mixin({
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 3000,
                    timerProgressBar: true,
                    didOpen: (toast) => {
                        toast.addEventListener('mouseenter', Swal.stopTimer)
                        toast.addEventListener('mouseleave', Swal.resumeTimer)
                    }
                })
                Toast.fire({
                    icon: 'success',
                    title: 'Thêm thành công'
                }).then(() => window.location.href = "/staff");
            },
            error: function (error) {
                const Toast = Swal.mixin({
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 3000,
                    timerProgressBar: true,
                    didOpen: (toast) => {
                        toast.addEventListener('mouseenter', Swal.stopTimer)
                        toast.addEventListener('mouseleave', Swal.resumeTimer)
                    }
                })
                Toast.fire({
                    icon: 'error',
                    title: "Email đã tồn tại!"
                    // title: 'Lỗi khi thêm mới'
                })
            }
        })
    }

    // Submit formEdit
    $('#btnEdit').click(function () {
        let data = {};
        let formData = $('#formEdit').serializeArray();
        $.each(formData, function (i, v) {
            data["" + v.name + ""] = v.value;
        });
        data["dateOfBirth"] = moment(formData.dateOfBirth).format('YYYY-MM-DD')

        if(validateForm('edit')) {
            editStaff(data);
        } else {
            console.log("validate fail");
        }
    });

    //API edit Staff
    function editStaff(data) {
        $.ajax({
            url: '/api/staff',
            type: 'PUT',
            contentType: 'application/json',
            data: JSON.stringify(data),
            dataType: 'json',
            success: function (result) {
                const Toast = Swal.mixin({
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 3000,
                    timerProgressBar: true,
                    didOpen: (toast) => {
                        toast.addEventListener('mouseenter', Swal.stopTimer)
                        toast.addEventListener('mouseleave', Swal.resumeTimer)
                    }
                })
                Toast.fire({
                    icon: 'success',
                    title: 'Cập nhật thành công'
                }).then(() => window.location.href = "/staff");
            },
            error: function (error) {
                const Toast = Swal.mixin({
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 3000,
                    timerProgressBar: true,
                    didOpen: (toast) => {
                        toast.addEventListener('mouseenter', Swal.stopTimer)
                        toast.addEventListener('mouseleave', Swal.resumeTimer)
                    }
                })
                Toast.fire({
                    icon: 'error',
                    title: "Lỗi hệ thống!\nVui lòng thử lại sau"
                })
            }
        })
    }

    function onBtnEdit (element) {
        const tag = $(element).parent().parent().find('.check-item');
        $.ajax({
            url: `/api/staff/${tag.val()}`,
            type: 'GET',
            contentType: 'application/json',
            success: function (result) {
                $('#id').val(result.id);
                $('#fullName-edit').val(result.fullName);
                $('#staffCode-edit').val(result.staffCode);
                $('#email-edit').val(result.email);
                $('#role-edit').val(result.role);
                $('#phoneNumber-edit').val(result.phoneNumber);
                $('#address-edit').val(result.address);
                $('#birthdate-edit').val(moment(result.dateOfBirth).format('DD/MM/YYYY'));
                $('#note-edit').val(result.note);

                $('.modal-edit-staff').modal('show');
            },
            error: function (error) {
                console.log(error);
            }
        })
    }

    function onBtnStatus (element) {
        const tag = $(element).parent().parent();
        const lock = $(element).hasClass('fa-lock');
        const status = lock ? "0" : "1";
        $.ajax({
            url: `/api/staff/status/${tag.find('.check-item').val()}/${status}`,
            type: 'PUT',
            contentType: 'application/json',
            success: function (result) {
                Swal.fire(
                    lock ? 'Đã khoá tài khoản!' : 'Đã mở khoá tài khoản',
                    `Mã nhân viên ${tag.children().eq(3).text()}`,
                    'success'
                ).then(() => {
                    if (lock) {
                        $(element).removeClass('fa-lock-open').addClass('fa-lock').css('color', 'red');
                        tag.children().eq(12).text("Ngừng hoạt động");
                    } else {
                        $(element).removeClass('fa-lock').addClass('fa-lock-open').css('color', 'green');
                        tag.children().eq(12).text("Đang hoạt động");
                    }

                    hoverIconLock();
                })
            },
            error: function (error) {
                console.log(error);
                Swal.fire(
                    'Lỗi hệ thống!\nVui lòng thử lại sau!',
                    'error'
                )
            }
        })
    }

    function onBtnDelete (element) {
        const tag = $(element).parent().parent();
        $.ajax({
            url: `/api/staff/delete/${tag.find('.check-item').val()}`,
            type: 'PUT',
            contentType: 'application/json',
            success: function (result) {
                const swalWithBootstrapButtons = Swal.mixin({
                    customClass: {
                        confirmButton: 'btn btn-success',
                        cancelButton: 'btn btn-danger'
                    },
                    buttonsStyling: false
                })

                swalWithBootstrapButtons.fire({
                    title: `Bạn chắc chắn muốn xoá nhân viên có mã ${tag.children().eq(3).text()} chứ?`,
                    text: "Chú ý không thể hoàn tác sau khi thực hiện tác vụ này!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Vâng, tôi chắc chắn!',
                    cancelButtonText: 'Không, huỷ bỏ tác vụ!',
                    reverseButtons: true
                }).then((result) => {
                    if (result.isConfirmed) {
                        swalWithBootstrapButtons.fire(
                            'Đã xoá thành công!',
                            'Dữ liệu đã bị xoá.',
                            'success'
                        ).then(() => window.location.href = "/staff");
                    } else if (
                        result.dismiss === Swal.DismissReason.cancel
                    ) {
                        swalWithBootstrapButtons.fire(
                            'Đã huỷ tác vụ',
                            'Dữ liệu được bảo toàn :)',
                            'error'
                        )
                    }
                })
            },
            error: function (error) {
                console.log(error);
            }
        })
    }
</script>

</body>
</html>