<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/weblayout}"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Quản lý tiêu đề</title>
    <!-- SweetAlert2-->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/mater.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
</head>

<body>
<div layout:fragment="content" class="container-fluid">
    <section class="row main-page">
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-chinhanh1" role="tabpanel" aria-labelledby="nav-home-tab">
                <div class="box_border mt-4">
                    <div class="bd-example">
                        <div id="datatable_wrapper" class="dataTables_wrapper dt-bootstrap5">
                            <div class="row align-items-center">
                                <div class="col-md-6">
                                    <div class="lever_tab">
                                        <span>Cấp độ tiêu đề</span>
                                        <div class="tab_lv1 active">1</div>
                                        <div class="tab_lv2">2</div>
                                        <div class="tab_lv3">3</div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="lever_tab" style="float: right">
                                        <button level="1" parentId="" onclick="onAdd(this)" class="btn btn-primary">Thêm cấp độ 1</button>
                                    </div>
                                </div>

                            </div>
                            <div class="table-responsive ">
                                <table class="table table-hover">
                                    <thead>
                                    <tr class="sticky-header">
                                        <th rowspan="2">Tiêu đề</th>
                                        <th colspan="2">Hành động</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <th:block th:each="category : ${categories}">
                                        <tr class="lv1">
                                            <td style="font-size: 11pt" class="text-left">[[${category.categoryName}]]</td>
                                            <td><i style="color: #655be6" level="2" th:parentId="${category.categoryId}" onclick="onAdd(this)"  class="bi bi-plus-square"></i>
                                                <i class="fas fa-edit" level="1" th:parentId="null" th:categoryId="category.categoryId" onclick="onEdit(this)" style="color: #655be6; margin-left: 10px" title="Cập nhật"></i>
                                                <i style="color: #655be6; margin-left: 10px" class="bi bi-trash"></i>
                                            </td>
                                        </tr>
                                        <th:block th:each="categoryChild1 : ${category.categoryChild}">
                                            <tr class="lv2">
                                                <td style="font-size: 11pt" class="text-left">[[${categoryChild1.categoryName}]]</td>
                                                <td><i style="color: #655be6" level="3" th:parentId="${categoryChild1.categoryId}" onclick="onAdd(this)" class="bi bi-plus-square"></i>
                                                    <i class="fas fa-edit" level="2" th:parentId="${category.categoryId}" th:categoryId="category.categoryId" onclick="onEdit(this)" style="color: #655be6; margin-left: 10px" title="Cập nhật"></i>
                                                    <i style="color: #655be6; margin-left: 10px" class="bi bi-trash"></i>
                                                </td>
                                            </tr>
                                            <th:block th:each="categoryChild2 : ${categoryChild1.categoryChild}">
                                                <tr class="lv3">
                                                    <td style="font-size: 11pt" class="text-left">[[${categoryChild2.categoryName}]]</td>
                                                    <td>
                                                        <i class="fas fa-edit" level="3" th:parentId="${categoryChild1.categoryId}" th:categoryId="category.categoryId" onclick="onEdit(this)" style="color: #655be6; margin-left: 10px" title="Cập nhật"></i>
                                                        <i style="color: #655be6; margin-left: 10px" class="bi bi-trash"></i>
                                                    </td>
                                                </tr>
                                            </th:block>
                                        </th:block>
                                    </th:block>
                                    </tbody>
                                </table>
                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- Modal -->
    <div class="modal fade" id="editCategory" style="display: none; opacity: 100" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitle">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" onclick="closeModalCategory()">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p style="color: red;display: none" id="error">Hello</p>
                    <input class="form-control" id="categoryName" placeholder="Nhập tiêu đề">
                    <input class="form-control" type="hidden" id="parentId">
                    <input class="form-control" type="hidden" id="categoryId">
                    <input class="form-control" type="hidden" id="levelCategory">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeModalCategory()">Đóng</button>
                    <button type="button" class="btn btn-primary" onclick="saveCategory()">Lưu</button>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/assets/js/lib.js}"></script>
    <script th:src="@{/assets/js/category.js}"></script>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script th:inline="javascript">
        let categories = [[${categories}]]
        console.log(categories)
        $(document).ready(function(){
            $(".tab_lv1 ").click(function(){
                $(".lv2,.lv3,.lv4,.lv5,.lv6").hide();
                $(".tab_lv2,.tab_lv3,.tab_lv4,.tab_lv5,.tab_lv6").removeClass('active');
                $(this).addClass('active');

            });
            $(".tab_lv2 ").click(function(){
                $(this).addClass('active');
                $(".lv3,.lv4,.lv5,.lv6").hide();
                $(".lv2").show();
                $(".tab_lv1,.tab_lv3,.tab_lv4,.tab_lv5,.tab_lv6").removeClass('active');

            });
            $(".tab_lv3 ").click(function(){
                $(this).addClass('active');
                $(".lv4,.lv5,.lv6").hide();
                $(".lv2,.lv3").show();
                $(".tab_lv2,.tab_lv1,.tab_lv4,.tab_lv5,.tab_lv6").removeClass('active');

            });
        });
    </script>
</div>

</body>
</html>