<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SMW - TECHCAM</title>


    <meta charset="utf-8">
    <title>SMW - TECHCAM</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- App favicon -->
    <link rel="shortcut icon" href="https://image.flaticon.com/icons/png/128/809/809052.png">

    <!-- DataTables -->
    <link rel="stylesheet" type="text/css" th:href="@{/static/assets/css/dataTables.bootstrap4.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/assets/css/buttons.bootstrap4.min.css}">

    <!-- Responsive datatable examples -->
    <link rel="stylesheet" type="text/css" th:href="@{/static/assets/css/responsive.bootstrap4.min.css}">

    <!-- Bootstrap Css -->
    <link id="bootstrap-style" rel="stylesheet" type="text/css" th:href="@{/static/assets/css/bootstrap.min.css}">

    <!-- Bootstrap datepicker -->
    <link rel="stylesheet" th:href="@{/static/assets/css/bootstrap-datepicker.min.css}">
    <link rel="stylesheet" th:href="@{/static/assets/css/bootstrap-datepicker.standalone.min.css}">
    <link rel="stylesheet" th:href="@{/static/assets/css/bootstrap-datepicker3.min.css}">
    <link rel="stylesheet" th:href="@{/static/assets/css/bootstrap-datepicker3.standalone.min.css}">

    <!-- Icons Css -->
    <link rel="stylesheet" type="text/css" th:href="@{/static/assets/css/icons.min.css}">
    <!-- App Css-->
    <link id="app-style" rel="stylesheet" type="text/css" th:href="@{/static/assets/css/app.min.css}">
    <!-- Chosen -->
    <link rel="stylesheet" type="text/css" th:href="@{/static/assets/css/chosen.min.css}">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/static/assets/css/style.css}"/>
</head>
<body>

<h1>SMW - TECHCAM</h1>
<br/><br/>
<div>
    Hello mấy cưng
    <br/>thật à?
</div>

<!-- JAVASCRIPT -->
<script th:src="@{/static/assets/js/moment.min.js}"></script>
<script th:src="@{/static/assets/js/jquery.min.js}"></script>
<script th:src="@{/static/assets/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/static/assets/js/metisMenu.min.js}"></script>
<script th:src="@{/static/assets/js/simplebar.min.js}"></script>
<script th:src="@{/static/assets/js/waves.min.js}"></script>

<script th:src="@{/static/assets/js/morris.min.js}"></script>

<script th:src="@{/static/assets/js/raphael.min.js}"></script>

<script th:src="@{/static/assets/js/jquery.peity.min.js}"></script>

<script th:src="@{/static/assets/js/dashboard.init.js}"></script>

<script th:src="@{/static/assets/js/fontawesome.init.js}"></script>

<script th:src="@{/static/assets/js/app.js}"></script>

<script th:src="@{/static/assets/js/chosen.jquery.js}"></script>
<script th:src="@{/static/assets/js/chosen.proto.min.js}"></script>
<script th:src="@{/static/assets/js/chosen.init.js}"></script>

<!-- Required datatable js -->
<script th:src="@{/static/assets/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/static/assets/js/dataTables.bootstrap4.min.js}"></script>
<!-- Buttons examples -->
<script th:src="@{/static/assets/js/vfs_fonts.js}"></script>
<script th:src="@{/static/assets/js/dataTables.buttons.min.js}"></script>
<script src="https://cdn.datatables.net/select/1.3.3/js/dataTables.select.min.js"></script>
<script th:src="@{/static/assets/js/buttons.bootstrap4.min.js}"></script>
<script th:src="@{/static/assets/js/buttons.html5.min.js}"></script>
<script th:src="@{/static/assets/js/buttons.print.min.js}"></script>
<script th:src="@{/static/assets/js/buttons.colVis.min.js}"></script>
<script th:src="@{/static/assets/js/jszip.min.js}"></script>
<script th:src="@{/static/assets/js/pdfmake.min.js}"></script>
<!-- Responsive examples -->
<script th:src="@{/static/assets/js/dataTables.responsive.min.js}"></script>
<script th:src="@{/static/assets/js/responsive.bootstrap4.min.js}"></script>

<!-- Datatable init js -->
<script th:src="@{/static/assets/js/datatables.init.js}"></script>

</body>
</html>
