<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/weblayout}"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Quản lý đơn hàng - TechCam</title>
</head>

<body>
<div layout:fragment="content" class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        <div class="col-lg-2 h-100" id="leftKH">
            <h1 class="heading-page">Danh sách đơn hàng</h1>
            <div class="card" id="formLeft">
                <h3 class="leftTitle" style="margin-top: 10px">Loại đơn hàng</h3>
                <!-- Order Type-->
                <div class="boxLeftC">
                    <select class="typeFilter w-100" multiple style="width: 100%" onchange="onTypeChange(this)">
                        <option value="Online">Online</option>
                        <option value="Tại quầy">Tại quầy</option>
                    </select>
                </div>
                <!-- End Order Type-->
                <div style="border: 1px solid #e3e3e3;margin: 12px 12px;border-radius: 8px;"></div>
                <!-- Order Method-->
                <div>
                    <h3 class="leftTitle">Phương thức thanh toán</h3>
                    <div class="boxLeftC">
                        <div class="form-group form-check">
                            <input class="form-check-input" type="radio" name="order-method" id="orderMethodAll" value="Tất cả" onchange="onOrderMethodChange(this)" checked>
                            <label class="form-check-label" for="orderMethodAll">
                                Tất cả
                            </label>
                        </div>
                        <div class="form-group form-check">
                            <input class="form-check-input" type="radio" name="order-method" id="orderMethodPayment" value="Thẻ" onchange="onOrderMethodChange(this)">
                            <label class="form-check-label" for="orderMethodPayment">
                                <i class="fas fa-credit-card me-2 text-warning"></i>Thẻ
                            </label>
                        </div>
                        <div class="form-group form-check">
                            <input class="form-check-input" type="radio" name="order-method" id="orderMethodCash" value="Tiền mặt" onchange="onOrderMethodChange(this)">
                            <label class="form-check-label" for="orderMethodCash">
                                <i class="fas fa-money-bill-alt me-2 text-success"></i>Tiền mặt
                            </label>
                        </div>
                    </div>
                </div>
                <!-- End Order Method-->
                <div style="border: 1px solid #e3e3e3;margin: 12px 12px;border-radius: 8px;"></div>
                <!-- Status-->
                <div>
                    <h3 class="leftTitle">Trạng thái</h3>
                    <div class="boxLeftC">
                        <div class="form-group form-check">
                            <input class="form-check-input" type="radio" name="status" id="statusCancel" value="Huỷ" onchange="onStatusChange(this)">
                            <label class="form-check-label text-secondary" for="statusCancel">
                                Huỷ
                            </label>
                        </div>
                        <div class="form-group form-check">
                            <input class="form-check-input" type="radio" name="status" id="statusAll" value="Tất cả" onchange="onStatusChange(this)" checked>
                            <label class="form-check-label" for="statusAll">
                                Tất cả
                            </label>
                        </div>
                        <div class="form-group form-check">
                            <input class="form-check-input" type="radio" name="status" id="statusVerify" value="Chờ xác nhận" onchange="onStatusChange(this)">
                            <label class="form-check-label text-warning" for="statusVerify">
                                Chờ xác nhận
                            </label>
                        </div>
                        <div class="form-group form-check">
                            <input class="form-check-input" type="radio" name="status" id="statusConfirm" value="Chờ xuất hàng" onchange="onStatusChange(this)">
                            <label class="form-check-label text-info" for="statusConfirm">
                                Chờ xuất hàng
                            </label>
                        </div>
                        <div class="form-group form-check">
                            <input class="form-check-input" type="radio" name="status" id="statusShipping" value="Đang giao hàng" onchange="onStatusChange(this)">
                            <label class="form-check-label text-primary" for="statusShipping">
                                Đang giao hàng
                            </label>
                        </div>
                        <div class="form-group form-check">
                            <input class="form-check-input" type="radio" name="status" id="statusDone" value="Hoàn thành" onchange="onStatusChange(this)">
                            <label class="form-check-label text-success" for="statusDone">
                                Hoàn thành
                            </label>
                        </div>
                    </div>
                </div>
                <!-- End Status-->
            </div>
        </div>
        <!-- End-Sidebar -->
        <div class="col-lg-10" id="rightKH">
            <div class="row justify-content-end">
                <button type="button" class="btn btn-primary col-auto mb-3 me-2 waves-effect waves-light" data-bs-toggle="modal" data-bs-target=".modal-add-order">
                    <i class="fas fa-plus me-2"></i>Đơn hàng
                </button>
            </div>
            <div class="card">
                <div class="card-body overflow-auto">
                    <table id="datatable"
                           class="table table-striped table-hover table-bordered nowrap dataTable no-footer shadow"
                           style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                        <thead class="text-center align-middle">
                            <th></th>
                            <th>Trạng thái</th>
                            <th>Mã hoá đơn</th>
                            <th>Tổng tiền hàng</th>
                            <th>Ngày đặt đơn</th>
                            <th>Loại đơn hàng</th>
                            <th>Phương thức<br/>thanh toán</th>
                        </thead>
                        <tbody style="vertical-align: middle;">
                            <tr th:each="order, iterator : ${orders}">
                                <td class="text-end">
                                    <!-- <span th:text="${iterator.index + 1}"></span>-->
                                </td>
                                <td th:switch="${order.getTransactionStatus()}" class="text-center">
                                    <button th:case="CANCEL" class="status badge btn btn-secondary fs-6" onclick="onBtnInfo(this)">Huỷ</button>
                                    <button th:case="VERIFY" class="status badge btn btn-warning fs-6" onclick="onBtnInfo(this)" onmouseover="$(this).text('Xác nhận')" onmouseleave="$(this).text('Chờ xác nhận')">Chờ xác nhận</button>
                                    <button th:case="CONFIRM" class="status badge btn btn-info fs-6" onclick="onBtnInfo(this)" onmouseover="$(this).text('Xuất hàng')" onmouseleave="$(this).text('Chờ xuất hàng')">Chờ xuất hàng</button>
                                    <button th:case="SHIPPING" class="status badge btn btn-primary fs-6" onclick="onBtnInfo(this)">Đang giao hàng</button>
                                    <button th:case="DONE" class="status badge btn btn-success fs-6" onclick="onBtnInfo(this)">Hoàn thành</button>
                                </td>
                                <td class="order-id" th:text="${order.getId()}">Mã hoá đơn</td>
                                <td class="text-end order-tax" th:text="${#numbers.formatDecimal(order.getTax(), 0, 'POINT', 0, 'COMMA') + ' đ'}">Tổng tiền hàng</td>
                                <td class="text-center" th:text="${#dates.format(order.getCreateDate(), 'dd/MM/yyyy HH:mm:ss')}">Ngày đặt đơn</td>
                                <td class="text-center" th:switch="${order.getOrderType()}">
                                    <span th:case="ONLINE" class="order-type">Online</span>
                                    <span th:case="COUNTER" class="order-type">Tại quầy</span>
                                </td>
                                <td class="text-center" th:switch="${order.getPaymentMethod()}">
                                    <span th:case="PAYMENT" class="order-method">Thẻ</span>
                                    <span th:case="CASH" class="order-method">Tiền mặt</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Info Order -->
    <div class="modal fade modal-info-order" tabindex="-1" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-xl h-100">
            <div class="modal-content" style="height: 90%;">
                <!-- Modal Header-->
                <div class="modal-header">
                    <h5 class="modal-title mt-0 text-center">Chi tiết đơn hàng</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <!-- Modal Body-->
                <div class="modal-body px-4">
                    <!-- Receiver Info-->
                    <div class="row px-3 order-detail">
                        <!-- Thông tin nhận hàng -->
                        <div class="col-lg-6">
                            <h3 class="fw-bolder text-decoration-underline">Nhận hàng</h3>
                            <table class="none-border">
                                <tr>
                                    <th><label for="recipientName">Người nhận</label></th>
                                    <td><input class="border-none bg-white" type="text" name="recipientName" id="recipientName" onblur="onType(this)" disabled></td>
                                </tr>
                                <tr>
                                    <th><label for="recipientPhone">Số điện thoại</label></th>
                                    <td><input class="border-none bg-white text-primary text-decoration-underline" type="text" name="recipientPhone" id="recipientPhone" onblur="onType(this)" disabled></td>
                                </tr>
                                <tr>
                                    <th class="align-top"><label for="recipientAddress">Địa chỉ</label></th>
                                    <td><textarea class="border-none bg-white" name="recipientAddress" id="recipientAddress" rows="3" style="resize: none" onblur="onType(this)" disabled></textarea></td>
                                </tr>
                                <tr>
                                    <th><label for="deliveryDate">Ngày giao hàng</label></th>
                                    <td>
                                        <div class="input-daterange input-group" id="datepicker-deliveryDate" data-date-format="dd/mm/yyyy" data-date-autoclose="true" data-provide="datepicker" data-date-container='#datepicker-deliveryDate'>
                                            <input class="form-control border-none bg-white text-start" type="text" name="deliveryDate" id="deliveryDate" placeholder="dd/MM/yyyy" disabled>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="align-top"><label for="feeDelivery">Phí giao hàng</label></th>
                                    <td><input class="ps-2 border-none bg-white fw-bolder text-danger" type="text" name="feeDelivery" id="feeDelivery" onblur="onType(this)" disabled></td>
                                </tr>
                            </table>
                        </div>

                        <!-- Thông tin mua hàng -->
                        <div class="col-lg-6">
                            <h3 class="fw-bolder text-decoration-underline">Mua hàng</h3>
                            <table class="none-border">
                                <tr>
                                    <th><label for="fullName">Người mua</label></th>
                                    <td><span id="fullName"></span></td>
                                </tr>
                                <tr>
                                    <th><label for="phoneNumber">Số điện thoại</label></th>
                                    <td><span id="phoneNumber" class="text-primary text-decoration-underline"></span></td>
                                </tr>
                                <tr>
                                    <th><label for="createDate">Ngày mua</label></th>
                                    <td><span id="createDate"></span></td>
                                </tr>
                                <tr>
                                    <th><label for="fullName">Tổng thanh toán</label></th>
                                    <td><span id="price" class="fw-bolder text-danger"></span></td>
                                </tr>
                            </table>
                        </div>

<!--                        &lt;!&ndash; Thông tin giao hàng &ndash;&gt;-->
<!--                        <div class="col-lg-4">-->
<!--                            <h3 class="fw-bolder text-decoration-underline">Giao hàng</h3>-->
<!--                            <table class="none-border">-->
<!--                                <tr>-->
<!--                                    <th><label for="fullName">Người mua</label></th>-->
<!--                                    <td><span id="fullName"></span></td>-->
<!--                                </tr>-->
<!--                                <tr>-->
<!--                                    <th><label for="phoneNumber">Số điện thoại</label></th>-->
<!--                                    <td><span id="phoneNumber" class="text-primary text-decoration-underline"></span></td>-->
<!--                                </tr>-->
<!--                                <tr>-->
<!--                                    <th><label for="createDate">Ngày mua</label></th>-->
<!--                                    <td><span id="createDate"></span></td>-->
<!--                                </tr>-->
<!--                                <tr>-->
<!--                                    <th><label for="fullName">Tổng thanh toán</label></th>-->
<!--                                    <td><span id="price" class="fw-bolder text-danger"></span></td>-->
<!--                                </tr>-->
<!--                            </table>-->
<!--                        </div>-->
                    </div>
                    <input type="hidden" id="order-id">

                    <!-- Split line-->
                    <div style="border: 1px solid #e3e3e3;margin: 25px 0;border-radius: 8px;"></div>

                    <!-- Danh sách mua hàng -->
                    <div>
                        <h3 class="fw-bolder text-center">Danh sách sản phẩm</h3>
                        <table class="border" style="border-collapse: collapse;">
                            <thead style="background: lightgrey;">
                                <th>STT</th>
                                <th class="order-imei">IMEI</th>
                                <th>Tên sản phẩm</th>
                                <th>Số lượng <br/> mua</th>
                                <th class="order-verify">Số lượng <br/> tồn kho</th>
                                <th class="order-verify">Trạng thái</th>
                                <th>Khuyến mãi</th>
                                <th>Giá bán</th>
                                <th>Thành tiền</th>
                            </thead>
                            <tbody id="list-order">
                                <tr class="order" style="display: none;">
                                    <td class="product-index text-center">STT</td>
                                    <td class="text-center order-imei">
                                        <a class="text-decoration-underline" href="#" onclick="onInputIMEI(this)">Nhập IMEI</a>
                                        <input type="hidden" class="list-imei">
                                        <input type="hidden" class="product-id">
                                        <input type="hidden" class="order-detail-id">
                                    </td>
                                    <td class="product-name">Tên sản phẩm</td>
                                    <td class="order-quantity number">Số lượng mua</td>
                                    <td class="product-quantity number order-verify">Số lượng tồn kho</td>
                                    <td class="text-center order-verify">
                                        <span class="product-available">Trạng thái</span>
                                    </td>
                                    <td class="order-discount number">Khuyến mãi</td>
                                    <td class="product-price number">Giá bán</td>
                                    <td class="order-price number">Thành tiền</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary waves-effect waves-light" data-bs-dismiss="modal">
                        <i class="fas fa-ban me-2"></i>
                        Đóng
                    </button>
                    <button type="button" class="btn btn-success waves-effect waves-light btnEdit" onclick="onLockEdit(false)">
                        <i class="fas fa-edit me-2"></i>
                        Chỉnh sửa
                    </button>
                    <button type="button" id="btnSave" class="btn btn-primary waves-effect waves-light" onclick="onBtnSave(this)">
                        <i class="fas fa-save pe-2"></i>
                        <span>Lưu</span>
                    </button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- End Modal Info order -->

    <!-- Modal IMEI -->
    <div class="modal fade modal-imei" tabindex="-1" style="display: none; background-color: rgb(56 55 76 / 86%);" aria-hidden="true">
        <div class="modal-dialog modal-xs h-100">
            <div class="modal-content" style="height: 90%;">
                <!-- Modal Header-->
                <div class="modal-header">
                    <h5 class="modal-title mt-0">Sản phẩm</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <!-- Modal Body-->
                <div class="modal-body px-4 overflow-auto" id="list-imei">
                    <div class="imei-row row align-items-center" style="display: none;">
                        <div class="col-lg-1 text-end fw-bolder text-primary"><span class="imei-count"></span></div>
                        <div class="col"><input type="text" name="imei-value" class="imei-value form-control" placeholder="IMEI" onblur="onType(this)"></div>
                    </div>
                </div>
                <!-- Modal Footer-->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary waves-effect waves-light" data-bs-dismiss="modal">
                        <i class="fas fa-ban me-2"></i>
                        Đóng
                    </button>
                    <button type="button" id="btnSaveImei" class="btn btn-primary waves-effect waves-light" onclick="onBtnSaveImei(this)">
                        <i class="fas fa-save pe-2"></i>
                        <span>Xác nhận</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- End Modal IMEI -->
</div>

<script layout:fragment="script" >

    $(document).ready(function () {
        $('.typeFilter').chosen();

        hoverIconLock();

        $('#datatable').find('.order-id').each(function(){
            $(this).text('HD00' + $(this).text());
        });
    });

    function hoverIconLock() {
        $('.fa-lock-open').hover(function () {
            $(this).removeClass('fa-lock-open').addClass('fa-lock').css('color', 'red');
        }, function () {
            $(this).removeClass('fa-lock').addClass('fa-lock-open').css('color', 'green');
        })

        $('.fa-lock').hover(function () {
            $(this).removeClass('fa-lock').addClass('fa-lock-open').css('color', 'green');
        }, function () {
            $(this).removeClass('fa-lock-open').addClass('fa-lock').css('color', 'red');
        })
    }

    $('.arrow').click(function (e) {
        $(this).toggleClass('down');
        $(this).siblings('.expand').toggle();
    })

    // disable mousewheel on a input number field when in focus
    // (to prevent Chromium browsers change the value when scrolling)
    $('form').on('focus', 'input[type=number]', function (e) {
        $(this).on('wheel.disableScroll', function (e) {
            e.preventDefault()
        })
    })
    $('form').on('blur', 'input[type=number]', function (e) {
        $(this).off('wheel.disableScroll')
    })

    // event filter table by status
    function onStatusChange(element) {
        const status = $(element).val();
        const rows = $('table#datatable tr');

        if(status === 'Tất cả') {
            rows.show();
        } else {
            rows.hide();
            rows.find(`.status:contains(${status})`).parent().parent().show();
        }
    }

    // event filter table by orderMethod
    function onOrderMethodChange(element) {
        const orderMethod = $(element).val();
        const rows = $('table#datatable tr');

        if(orderMethod === 'Tất cả') {
            rows.show();
        } else {
            rows.hide();
            rows.find(`.order-method:contains(${orderMethod})`).parent().parent().show();
        }
    }

    // event filter table by orderType
    function onTypeChange() {
        const orderType = $('select.typeFilter').val();
        const rows = $('table#datatable tr');

        if (orderType.length === 0 || orderType.length >=2) {
            rows.show();
        } else {
            rows.hide();
            rows.find(`.order-type:contains(${orderType[0]})`).parent().parent().show();
        }
    }

    // Validation formAdd
    function validateForm() {
        let errorMessage = '';
        let flag = true;

        const input = $('#recipientName, #recipientAddress');
        input.each(function() {
            if ($(this).val() === '') {
                $(this).addClass('error');
                flag = false;
            }
        });

        const deliveryDate = $('#deliveryDate');
        const patternDate = /^(0?[1-9]|[12][0-9]|3[01])[\/\-](0?[1-9]|1[012])[\/\-]\d{4}$/i;
        if (deliveryDate.val() === '') {
            deliveryDate.addClass('error');
            flag = false;
        } else if (!patternDate.test(deliveryDate.val())) {
            deliveryDate.addClass('error');
            errorMessage += 'Ngày giao hàng không hợp lệ!\n';
            flag = false;
        }

        const phoneNumber = $('#recipientPhone');
        const patternPhone = /^(84|0[3|5|7|8|9])+([0-9]{8})\b$/i;
        let count = 0;
        phoneNumber.each(function(){
            if ($(this).val() === '') {
                $(this).addClass('error');
                flag = false;
            } else {
                const regexPhone = patternPhone.test($(this).val())
                if(!regexPhone) {
                    flag = false;
                    $(this).addClass('error');
                    count++;
                }
            }
        });
        if (count !== 0) errorMessage += 'Số điện thoại không hợp lệ!\n';

        if (flag) {
            return true;
        }
        errorMessage += 'Mời nhập lại!'
        const Toast = Swal.mixin({
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: true,
            didOpen: (toast) => {
                toast.addEventListener('mouseenter', Swal.stopTimer)
                toast.addEventListener('mouseleave', Swal.resumeTimer)
            }
        })
        Toast.fire({
            icon: 'error',
            title: errorMessage
        })
        return false;
    }

    // Unlock form input
    const inputModal = $('.modal-info-order').find('.modal-body input.border-none, textarea.border-none');
    function onLockEdit(boolean) {
        if (boolean === false) {
            inputModal.removeClass('border-none');
        } else {
            inputModal.addClass('border-none');
        }
        inputModal.prop('disabled', boolean);
    }

    // Event onKeyPress formAdd
    function onType(element) {
        const tag = $(element);
        if (tag.val() === '') {
            tag.addClass('error');
        } else {
            tag.removeClass('error');
        }
    }

    // Event onBlur for input date
    $('#deliveryDate').blur(function () {
        setTimeout(function(){
            onType($('#deliveryDate'));
        }, 100); // delay 500 ms
    });

    /**
     * Submit form
     */
    function onBtnSave(tag) {

        // Button submit by status
        const btnSubmit = $(tag).find('span').text();

        if (btnSubmit === 'Xác nhận') {
            confirmOrder();
        } else if (btnSubmit === 'Xuất hàng') {
            shippingOrder();
        }
    }

    //API confirm order
    function confirmOrder() {
        let data = {};

        data["recipientName"] = $('input[name=recipientName]').val();
        data["recipientPhone"] = $('input[name=recipientPhone]').val();
        data["recipientAddress"] = $('textarea[name=recipientAddress]').text();
        data["deliveryDate"] = moment($('input[name=deliveryDate]').val(), 'DD-MM-YYYY').format('YYYY-MM-DD');
        if ($('input[name=feeDelivery]').val().indexOf(" đ") > 0) {
            data["feeDelivery"] = +$('input[name=feeDelivery]').val().substring(0, $('input[name=feeDelivery]').val().indexOf(" đ")).replace('.', '');
        } else {
            data["feeDelivery"] = $('input[name=feeDelivery]').val();
        }
        data["id"] = $('input[id=order-id]').val();

        if(validateForm()) {
            $.ajax({
                url: '/api/v1/orders/confirm-order-sale-person',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(data),
                dataType: 'json',
                success: function (result) {
                    const Toast = Swal.mixin({
                        toast: true,
                        position: 'top-end',
                        showConfirmButton: false,
                        timer: 3000,
                        timerProgressBar: true,
                        didOpen: (toast) => {
                            toast.addEventListener('mouseenter', Swal.stopTimer)
                            toast.addEventListener('mouseleave', Swal.resumeTimer)
                        }
                    })
                    Toast.fire({
                        icon: 'success',
                        title: 'Xác nhận đơn hàng thành công'
                    }).then(()=> window.location.reload());
                },
                error: function (error) {
                    const Toast = Swal.mixin({
                        toast: true,
                        position: 'top-end',
                        showConfirmButton: false,
                        timer: 3000,
                        timerProgressBar: true,
                        didOpen: (toast) => {
                            toast.addEventListener('mouseenter', Swal.stopTimer)
                            toast.addEventListener('mouseleave', Swal.resumeTimer)
                        }
                    })
                    Toast.fire({
                        icon: 'error',
                        title: "Lỗi hệ thống!\nVui lòng thử lại sau"
                    })
                }
            })
            onLockEdit(true);
        } else {
            console.log("validate fail");
        }
    }

    //API shipping order
    function shippingOrder() {
        // Validate IMEI
        let errorCount = 0;
        $('input.list-imei:not(:first)').each(function (){
           if ($(this).val() === '') {
               $(this).parent().addClass('error');
               errorCount++;
           }
        });
        if (errorCount !== 0) {
            const Toast = Swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 3000,
                timerProgressBar: true,
                didOpen: (toast) => {
                    toast.addEventListener('mouseenter', Swal.stopTimer)
                    toast.addEventListener('mouseleave', Swal.resumeTimer)
                }
            })
            Toast.fire({
                icon: 'warning',
                title: "Yêu cầu nhập IMEI sản phẩm!"
            })
        } else {

            // Get Order
            let data = {};
            data["id"] = $('input[id=order-id]').val();
            data["note"] = "";

            // Get list OrderDetails
            console.log("-------List order details----------");
            let productDetailsRequests = [];
            $('.order:not(:first)').each(function (index) {
                // Get single orderDetail
                let orderDetail = {};
                orderDetail["productId"] = $(this).find('input.product-id').val();
                orderDetail["id"] = $(this).find('input.order-detail-id').val();
                orderDetail["quantity"] = $(this).find('.order-quantity').text();
                orderDetail["note"] = "";
                orderDetail["discount"] = $(this).find('.order-discount').text().substring(0, $(this).find('.order-discount').text().indexOf(" đ")).replace('.', '');

                // Get list IMEI
                let listIMEI = [];
                // $(this).find('input.list-imei').val().split(',').each(function (){
                //
                // });
                orderDetail["imei"] = $(this).find('input.list-imei').val().split(',');

                // Add single orderDetail to list object OrderDetail
                productDetailsRequests.push(orderDetail);
                console.log(orderDetail);
            });
            data["productDetailsRequests"] = productDetailsRequests;

            console.log("==========FINAL=======");
            console.log(data);

            if (validateForm()) {
                $.ajax({
                    url: '/api/v1/orders/confirm-export-order',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(data),
                    dataType: 'json',
                    success: function (result) {
                        const Toast = Swal.mixin({
                            toast: true,
                            position: 'top-end',
                            showConfirmButton: false,
                            timer: 3000,
                            timerProgressBar: true,
                            didOpen: (toast) => {
                                toast.addEventListener('mouseenter', Swal.stopTimer)
                                toast.addEventListener('mouseleave', Swal.resumeTimer)
                            }
                        })
                        Toast.fire({
                            icon: 'success',
                            title: 'Xuất hàng thành công'
                        });
                    },
                    error: function (error) {
                        const Toast = Swal.mixin({
                            toast: true,
                            position: 'top-end',
                            showConfirmButton: false,
                            timer: 3000,
                            timerProgressBar: true,
                            didOpen: (toast) => {
                                toast.addEventListener('mouseenter', Swal.stopTimer)
                                toast.addEventListener('mouseleave', Swal.resumeTimer)
                            }
                        })
                        Toast.fire({
                            icon: 'error',
                            title: "Lỗi hệ thống!\nVui lòng thử lại sau"
                        })
                    }
                })
                onLockEdit(true);
            } else {
                console.log("validate fail");
            }
        }
    }

    function onBtnInfo (element) {
        const btnSave = $('#btnSave');
        const orderId = $(element).parent().parent().find('.order-id').text().substring(4);

        $('#loading-image').show();
        $('.order-verify').removeClass('d-none');
        $('.order-imei').addClass('d-none');
        btnSave.removeClass('btn-primary btn-warning btn-success btn-info').addClass('btn-primary');
        btnSave.removeAttr('disabled');
        btnSave.show();

        // Reset Modal before showing info
        $('.order:not(:eq(0))').remove();

        // Change text button by transaction-status
        if ($(element).text() === "Xác nhận") {
            btnSave.find('span').text("Xác nhận");
            btnSave.removeClass('btn-primary btn-warning btn-success btn-info btn-secondary').addClass('btn-warning');
        } else if ($(element).text() === "Xuất hàng") {
            btnSave.find('span').text("Xuất hàng");
            btnSave.removeClass('btn-primary btn-warning btn-success btn-info btn-secondary').addClass('btn-info');
            // show input imei
            $('.order-imei').removeClass('d-none');
            // remove unnecessary information
            $('.order-verify').addClass('d-none');
        } else if ($(element).text() === "Đang giao hàng") {
            btnSave.find('span').text("Đang giao hàng");
            btnSave.removeClass('btn-primary btn-warning btn-success btn-info btn-secondary').addClass('btn-primary');
            btnSave.attr('disabled', '');
            // remove unnecessary information
            $('.order-verify').addClass('d-none');
        } else if ($(element).text() === "Hoàn thành") {
            btnSave.find('span').text("Hoàn thành");
            btnSave.removeClass('btn-primary btn-warning btn-success btn-info btn-secondary').addClass('btn-success');
            btnSave.attr('disabled', '');
            // remove unnecessary information
            $('.order-verify').addClass('d-none');
        } else if ($(element).text() === "Huỷ") {
            btnSave.hide();
            // remove unnecessary information
            $('.order-verify').addClass('d-none');
        }

        // Call API get info Order
        $.ajax({
            url: `/api/v1/orders/${orderId}`,
            type: 'GET',
            contentType: 'application/json',
            success: function (result) {
                $('input[name=recipientName]').val(result.recipientName);
                $('input[name=recipientPhone]').val(result.recipientPhone);
                $('textarea[name=recipientAddress]').text(result.recipientAddress);
                if (result.deliveryDate === null) {
                    $('input[name=deliveryDate]').val("Chờ xác nhận");
                } else {
                    $('input[name=deliveryDate]').val(moment(result.deliveryDate, 'YYYY-MM-DD').format('DD/MM/YYYY'));
                }
                $('input[name=feeDelivery]').val(addPoint(result.feeDelivery) + " đ");
                $('#createDate').text(moment(result.orderDate).format('DD/MM/YYYY'));
                $('#price').text(addPoint(`${result.tax - result.totalAmount}`) + ' đ');    // Tổng tiền thanh toán
                $('#fullName').text(result.customer.fullName);
                $('#phoneNumber').text(result.customer.phoneNumber);
                $('input[id=order-id]').val(result.id);

                // Show/Hide btnEdit
                if (result.transactionStatus === 'CANCEL') {
                    $('.modal-info-order').find('.btnEdit').hide();
                } else {
                    if (result.status === 'UNPAID') {
                        $('.modal-info-order').find('.btnEdit').show();
                    } else {
                        $('.modal-info-order').find('.btnEdit').hide();
                    }
                }

                // Call API get info Order details of customer
                $.ajax({
                    url: `/api/v1/orders/list/${result.id}`,
                    type: 'GET',
                    contentType: 'application/json',
                    success: function (res) {
                        if (res !== null && res.length > 1) {
                            for (let i = 0; i < res.length; i++) {

                                // Clone row product of order for table
                                $('.order').eq(0).clone().appendTo('#list-order');

                                // Get row
                                const product = $('#list-order').find('.order').eq(i + 1).show();

                                product.find('.product-id').val(res[i].product.id);                                product.find('.product-id').val(res[i].product.id);
                                product.find('.order-detail-id').val(res[i].id);
                                product.find('.product-name').text(res[i].product.name);
                                product.find('.order-quantity').text(res[i].quantity);
                                product.find('.product-quantity').text(res[i].product.quantity);

                                if (res[i].quantity <= res[i].product.quantity) {
                                    product.find('.product-available').addClass("text-success").text("Còn hàng");
                                } else {
                                    product.find('.product-available').addClass("text-danger").text("Hết hàng");
                                }

                                product.find('.order-discount').text(addPoint(res[i].discount) + " đ");
                                product.find('.product-price').text(addPoint(res[i].product.price * res[i].quantity) + " đ");
                                product.find('.order-price').text(addPoint(res[i].product.price * res[i].quantity - res[i].discount) + " đ");
                            }
                        }

                        // Reset index list product of order
                        $('.product-index:not(:eq(0))').each(function(index){$(this).text(index + 1)});

                        $('#loading-image').hide();
                        $('.modal-info-order').modal('show');
                    },
                    error: function (err) {
                        console.log(err);
                    }
                })
            },
            error: function (error) {
                console.log(error);
            }
        })
    }

    const modalIMEI = $('.modal-imei');
    let tempInputIMEI;
    // Input IMEI
    function onInputIMEI(tag) {
        const row = $(tag).parent().parent();
        $(tag).parent().removeClass('error');
        tempInputIMEI = $(tag).parent().find('.list-imei');

        // Title modal IMEI
        modalIMEI.find('.modal-title').text(row.find('.product-name').text());

        let arrayIMEI = tempInputIMEI.val();
        if (arrayIMEI !== null) {
            arrayIMEI = arrayIMEI.split(',');
        }


        // List input IMEI
        for (let i = 0; i < row.find('.order-quantity').text(); i++) {
            // Clone row input imei
            modalIMEI.find('.modal-body').find('.row').eq(0).clone().appendTo('#list-imei');
            modalIMEI.find('.imei-row').eq(i + 1).show();
            modalIMEI.find('.imei-count').eq(i + 1).text(i + 1);
            (arrayIMEI[0] !== '') ? modalIMEI.find('.imei-value').eq(i + 1).val(arrayIMEI[i]):'';
        }

        modalIMEI.modal('show');
    }

    // Bind auto remove row IMEI when close modal IMEI
    modalIMEI.on('hidden.bs.modal', function () {
        modalIMEI.find('.imei-row:not(:first)').remove();
    });

    function onBtnSaveImei() {
        // Validate IMEI
        let errorCount = 0;
        modalIMEI.find('.imei-value:not(:first)').each(function (){
           if ($(this).val().indexOf(' ') >= 0 || $(this).val() === '') {
               $(this).addClass('error');
               errorCount++;
               console.log($(this).val())
           }
        });

        // Alert error
        if (errorCount !== 0) {
            const Toast = Swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 3000,
                timerProgressBar: true,
                didOpen: (toast) => {
                    toast.addEventListener('mouseenter', Swal.stopTimer)
                    toast.addEventListener('mouseleave', Swal.resumeTimer)
                }
            })
            Toast.fire({
                icon: 'error',
                title: 'IMEI không chính xác'
            })
        } else {
            // Insert arrayIMEI to tempInputIMEI
            const arrayIMEI = $("input[name=imei-value]:not(:first)").map(function(){
                return $(this).val();
            }).get();
            tempInputIMEI.val(arrayIMEI);

            // Alert success
            const Toast = Swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 3000,
                timerProgressBar: true,
                didOpen: (toast) => {
                    toast.addEventListener('mouseenter', Swal.stopTimer)
                    toast.addEventListener('mouseleave', Swal.resumeTimer)
                }
            })
            Toast.fire({
                icon: 'success',
                title: 'Lưu IMEI thành công'
            })

            modalIMEI.find('.imei-row:not(:first)').remove();

            modalIMEI.modal('hide');
        }
    }

    // Script split money string by point
    function addPoint(nStr) {
        nStr += '';
        var x = nStr.split(',');
        var x1 = x[0];
        var x2 = x.length > 1 ? ',' + x[1] : '';
        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1)) {
            x1 = x1.replace(rgx, '$1' + '.' + '$2');
        }
        return x1 + x2;
    }
</script>

</body>
</html>