<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/weblayout}"
>
<head>
    <meta charset="UTF-8">
    <title>Quản lý sản phẩm - TechCam</title>
    <link rel="stylesheet" th:href="@{/assets/css/select2.min.css}">
</head>
<body>
<div layout:fragment="content" class="container-fluid" style="max-width: 98%">
    <div class="row container1">
        <div class="col-lg-2 h-100" id="leftKH">
            <h1 class="heading-page">Quản lý nhập hàng</h1>
            <div class="filter-report">
                <div class="card" style="padding-left: 15px; padding-top: 15px">
                    <h6 class="mx-2 mt-2 fs-14">Trạng thái</h6>
                    <div class="mx-2 mb-2">
                        <div class="form-group form-check">
                            <input class="form-check-input" type="radio" name="status" id="statusAll" value=""
                                   onchange="onStatusChange(this)" checked>
                            <label class="form-check-label" for="statusAll">
                                Tất cả
                            </label>
                        </div>
                        <div class="form-group form-check">
                            <input class="form-check-input" type="radio" name="status" id="statusActive"
                                   value="Đã nhập" onchange="onStatusChange(this)">
                            <label class="form-check-label" for="statusActive">
                                Đã nhập
                            </label>
                        </div>
                        <div class="form-group form-check">
                            <input class="form-check-input" type="radio" name="status" id="statusInActive"
                                   value="Chưa nhập" onchange="onStatusChange(this)">
                            <label class="form-check-label" for="statusInActive">
                                Chưa nhập
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-10" id="rightKH" style="height: 100%">
            <div class="row justify-content-end">
                <a href="#modal-add-product" type="button"
                   class="btn btn-primary col-auto mb-3 waves-effect waves-light"
                   data-bs-toggle="modal">
                    <i class="fas fa-plus me-2"></i>
                    Sản phẩm
                </a>
            </div>
            <div class="card">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card-body overflow-auto">
                            <table id="datatable"
                                   class="table table-striped table-hover table-bordered nowrap dataTable no-footer shadow"
                                   style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                <thead>
                                <tr class="text-center">
                                    <th>STT</th>
                                    <th>Thumbnail</th>
                                    <th>Chức năng</th>
                                    <th>Tên sản phẩm</th>
                                    <th>Giá bán</th>
                                    <th>Tồn kho</th>
                                    <th>Trạng thái</th>
                                    <th>Người thêm</th>
                                    <th>Ngày thêm</th>
                                    <th>Ngày cập nhật</th>
                                </tr>
                                </thead>
                                <tbody>
                                <th:block th:each="product, theCount : ${lstProducts}">
                                    <tr>
                                        <td class="text-center" th:text="${theCount.index + 1}">STT</td>
                                        <td class="text-center">
                                            <img th:src="${product.thumbnail}" th:title="${product.productName}"
                                                 height="25px"
                                                 style="cursor: pointer" onclick="zoomImageProduct(this)"/>
                                        </td>
                                        <td class="text-center">
                                            <a href="#modal-edit-product" th:data-id="${product.productId}"
                                               data-bs-toggle="modal"
                                               class="btn btn-primary btn-sm waves-effect waves-light"
                                               onclick="onClickEditProduct(this)">
                                                Chỉnh sửa
                                            </a>
                                        </td>
                                        <td th:text="${product.productName}">Tên sản phẩm</td>
                                        <td class="text-end"
                                            th:text="${#numbers.formatDecimal(product.productPrice, 0, 'COMMA', 2, 'POINT') + 'đ'}">
                                            Giá bán
                                        </td>
                                        <td class="text-end">Tồn kho</td>
                                        <td class="text-center">
                                            <span th:if="${product.productStatus != null && product.productStatus == 'ON'}"
                                                  class="badge bg-success">
                                                Kinh doanh
                                            </span>
                                            <span th:unless="${product.productStatus != null && product.productStatus == 'ON'}"
                                                  class="badge bg-danger">
                                                Ngừng kinh doanh
                                            </span>
                                        </td>
                                        <td th:text="${product.createBy}" class="text-center">Người thêm</td>
                                        <td th:text="${#dates.format(product.createDate, 'dd-MM-yyyy')}"
                                            class="text-center">
                                        </td>
                                        <td th:text="${#dates.format(product.modifierDate, 'dd-MM-yyyy')}"
                                            class="text-center">
                                        </td>
                                    </tr>
                                </th:block>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- <div id="morris-bar-stacked" class="morris-chart-height morris-charts"></div> -->
                </div>
            </div>
        </div>
    </div>

    <div id="modal-add-invoice" class="modal fade show" style="display: block;" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title mt-0">Thêm nhập hàng</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Tab panes -->
                    <div class="row">
                        <div class="col-lg-6 mb-3 row">
                            <div class="col-lg-5">
                                <label for="ip-add-invoice-code">
                                    Mã nhập hàng hàng
                                </label>
                            </div>
                            <div class="col-lg-7">
                                <input type="text" id="ip-add-invoice-code" placeholder="Mã nhập hàng...."
                                       class="form-control"/>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-3 row">
                            <div class="col-lg-5">
                                <label for="ip-add-order-code">
                                    Mã đặt hàng
                                </label>
                            </div>
                            <div class="col-lg-7">
                                <select id="ip-add-order-code" class="form-control select2">
                                    <option value="">Chưa đặt</option>
                                    <option th:each="invoiceOrder : ${lstInvoiceOrder}"
                                            th:value="${invoiceOrder.invoiceOrderId}"
                                            th:text="${invoiceOrder.invoiceOrderCode}">
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12 mb-3">
                            <div class="d-flex flex-column-reverse">
                                <select id="ip-add-supplier" class="form-control select2">
                                    <option th:each="supplier : ${lstSupplier}"
                                            th:value="${supplier.id}"
                                            th:text="${supplier.name}">
                                    </option>
                                </select>
                                <label for="ip-add-supplier">
                                    Nhà cung cấp
                                </label>
                            </div>
                        </div>
                        <div id="invoice-detail" class="row">
                            <div class="col-lg-6 mb-3 row">
                                <div class="col-lg-5">
                                    <label for="ip-add-product1">
                                        Sản phẩm 1
                                    </label>
                                </div>
                                <div class="col-lg-7">
                                    <input type="text" id="ip-add-product1" data-id="idSanPham"
                                           placeholder="Số lượng...."
                                           class="form-control add-product-quantity-invoice"/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 mb-3 row">
                                <div class="col-lg-5">
                                    <label for="ip-add-invoice-discount">
                                        Giảm giá
                                    </label>
                                </div>
                                <div class="col-lg-7">
                                    <input type="text" id="ip-add-invoice-discount" placeholder="Số tiền NCC giảm...."
                                           class="form-control"/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 mb-3 row">
                                <div class="col-lg-5"></div>
                                <div class="col-lg-7">
                                    <input class="form-check-input mt-2" type="checkbox"
                                           id="ip-add-invoice-status"/>
                                    <label for="ip-add-invoice-status" class="col-form-label">
                                        Đã nhập hàng
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary waves-effect" data-bs-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-success waves-effect waves-light"
                            onclick="onClickSaveProduct()">
                        Lưu
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <script>
        function onClickAddInvoice(e) {
            let getInvoiceCode = document.getElementById('ip-add-invoice-code');
            let getInvoiceOrderCode = document.getElementById('ip-add-order-code');
            let getSupplier = document.getElementById('ip-add-supplier');
            let getInvoiceDiscount = document.getElementById('ip-add-invoice-discount');
            let getInvoiceStatus = document.getElementById('ip-add-invoice-status');
            let getAllQuantityProduct = document.getElementsByClassName('add-product-quantity-invoice');

        }
    </script>

</div>
<div layout:fragment="script">
    <script th:src="@{/assets/js/dropzone.min.js}"></script>
    <script th:src="@{/assets/js/bootstrap-datepicker.min.js}"></script>
    <script th:src="@{/assets/js/select2.min.js}"></script>
    <script th:src="@{/assets/js/form-advanced.init.js}"></script>
    <script th:src="@{/toastr/toa.js}"></script>
</div>
</body>
</html>
