<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/weblayout}"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Quản lý sản phẩm - TechCam</title>
</head>
<body>
<div layout:fragment="content" class="myContainer">
    <div class="container1 row">
        <div class="col-lg-3">
            <div class="card">
                <div class="card-body">
                    <div id="sidebar-menu">
                        <ul class="list-unstyled" id="side-menu">
                            <li>
                                <a class="has-arrow waves-effect waves-light mb-3">
                                    <strong>Trạng thái: </strong>
                                </a>
                                <ul class="sub-menu" style="padding: 0 10px 0 30px;">
                                    <div class="mb-2">
                                        <input class="form-check-input" type="radio" name="filter-status"
                                               checked id="filter-status-all" data-filter="ALL"
                                               onchange="changeFilterStatus(this)">
                                        <label for="filter-status-all" class="col-form-label">
                                            Tất cả
                                        </label>
                                    </div>
                                    <div class="mb-2">
                                        <input class="form-check-input" type="radio" name="filter-status"
                                               id="filter-status-true" data-filter="TRUE"
                                               onchange="changeFilterStatus(this)">
                                        <label for="filter-status-true" class="col-form-label">
                                            Kích hoạt
                                        </label>
                                    </div>
                                    <div class="mb-2">
                                        <input class="form-check-input" type="radio" name="filter-status"
                                               id="filter-status-false" data-filter="FALSE"
                                               onchange="changeFilterStatus(this)">
                                        <label for="filter-status-false" class="col-form-label">
                                            Chưa áp dụng
                                        </label>
                                    </div>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!-- Sidebar -->
                </div>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="card">
                <div class="card-body">
                    <div class="float-start">
                        <h1 class="header-title mb-4">
                            Quản lý mã giảm giá
                        </h1>
                    </div>
                    <div class="float-end">
                        <div class="d-flex flex-row-reverse">
                            <div class="dropdown myDropdown myBtn">
                                <button class="btn btn-primary" id="dropdownMenuButton"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fas fa-filter"></i>
                                    <i class="mdi mdi-chevron-down"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-end" style="width: 20vw;">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="mb-3 mx-3">
                                                <input class="form-check-input mt-2" type="checkbox"
                                                       id="checked-voucher-code"/>
                                                <label for="checked-voucher-code" class="col-form-label">
                                                    Mã giảm giá
                                                </label>
                                            </div>
                                            <div class="mb-3 mx-3">
                                                <input class="form-check-input mt-2" type="checkbox"
                                                       id="checked-voucher-name"/>
                                                <label for="checked-voucher-name" class="col-form-label">
                                                    Tên chương trình
                                                </label>
                                            </div>
                                            <div class="mb-3 mx-3">
                                                <input class="form-check-input mt-2" type="checkbox"
                                                       id="checked-voucher-start-date"/>
                                                <label for="checked-voucher-start-date"
                                                       class="col-form-label">
                                                    Từ ngày
                                                </label>
                                            </div>
                                            <div class="mb-3 mx-3">
                                                <input class="form-check-input mt-2" type="checkbox"
                                                       id="checked-voucher-start-end"/>
                                                <label for="checked-voucher-start-end"
                                                       class="col-form-label">
                                                    Đến ngày
                                                </label>
                                            </div>
                                            <div class="mb-3 mx-3">
                                                <input class="form-check-input mt-2" type="checkbox"
                                                       id="checked-voucher-start-quantiy"/>
                                                <label for="checked-voucher-start-quantiy"
                                                       class="col-form-label">
                                                    Số lần sử dụng
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="mb-3 mx-3">
                                                <input class="form-check-input mt-2" type="checkbox"
                                                       id="checked-voucher-discount"/>
                                                <label for="checked-voucher-discount"
                                                       class="col-form-label">
                                                    Mệnh giá
                                                </label>
                                            </div>
                                            <div class="mb-3 mx-3">
                                                <input class="form-check-input mt-2" type="checkbox"
                                                       id="checked-voucher-status"/>
                                                <label for="checked-voucher-status" class="col-form-label">
                                                    Trạng thái
                                                </label>
                                            </div>
                                            <div class="mb-3 mx-3">
                                                <input class="form-check-input mt-2" type="checkbox"
                                                       id="checked-voucher-crete-by"/>
                                                <label for="checked-voucher-crete-by"
                                                       class="col-form-label">
                                                    Người tạo
                                                </label>
                                            </div>
                                            <div class="mb-3 mx-3">
                                                <input class="form-check-input mt-2" type="checkbox"
                                                       id="checked-voucher-crete-date"/>
                                                <label for="checked-voucher-crete-date"
                                                       class="col-form-label">
                                                    Ngày tạo
                                                </label>
                                            </div>
                                            <div class="mb-3 mx-3">
                                                <input class="form-check-input mt-2" type="checkbox"
                                                       id="checked-voucher-modified-date"/>
                                                <label for="checked-voucher-modified-date"
                                                       class="col-form-label">
                                                    Ngày cập nhật
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="#modal-add-product" data-bs-toggle="modal"
                               class="mx-2 btn btn-primary waves-effect waves-light">
                                Thêm sản phẩm
                            </a>
                        </div>
                    </div>
                    <table class="mt-3 table table-bordered">
                        <thead>
                        <tr class="text-center">
                            <th>STT</th>
                            <th>Tên sản phẩm</th>
                            <th>Giá bán</th>
                            <th>Tồn kho</th>
                            <th>Trạng thái</th>
                            <th>Ngày kích hoạt</th>
                            <th>Ngày thêm</th>
                            <th>Người thêm</th>
                            <th>Ngày cập nhật</th>
                            <th>Thao tác</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>STT</td>
                            <td>Tên sản phẩm</td>
                            <td>Giá bán</td>
                            <td>Tồn kho</td>
                            <td>Trạng thái</td>
                            <td>Ngày kích hoạt</td>
                            <td>Ngày thêm</td>
                            <td>Người thêm</td>
                            <td>Ngày cập nhật</td>
                            <td class="text-center">
                                <a href="#modal-edit-product" data-id="123" data-bs-toggle="modal"
                                   class="btn btn-primary btn-sm waves-effect waves-light"
                                   onclick="onClickEditProduct(this)">
                                    Chỉnh sửa
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div id="modal-add-product" class="modal fade show" style="display: block;" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title mt-0">Thêm sản phẩm</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ul class="nav nav-tabs nav-tabs-custom nav-justified" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-bs-toggle="tab" href="#info-product" role="tab">
                                <span class="d-none d-md-block">Thông tin sản phẩm</span><span
                                    class="d-block d-md-none"><i class="mdi mdi-home-variant h5"></i></span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#description-product" role="tab">
                                <span class="d-none d-md-block">Mô tả chi tiết sản phẩm</span><span
                                    class="d-block d-md-none"><i class="mdi mdi-account h5"></i></span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#image-product" role="tab">
                                <span class="d-none d-md-block">Hình ảnh sản phẩm</span><span
                                    class="d-block d-md-none"><i class="mdi mdi-account h5"></i></span>
                            </a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active p-3" id="info-product" role="tabpanel">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3 row">
                                        <div class="col-lg-5">
                                            Mã sản phẩm
                                        </div>
                                        <div class="col-lg-7">
                                            <input type="text" id="ip-add-product-code" placeholder="Mã sản phẩm...."
                                                   class="form-control"/>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <div class="col-lg-5">
                                            Tên sản phẩm
                                        </div>
                                        <div class="col-lg-7">
                                            <input type="text" id="ip-add-product-name" placeholder="Mã sản phẩm...."
                                                   class="form-control"/>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <div class="col-lg-5">
                                            Giá bán
                                        </div>
                                        <div class="col-lg-7">
                                            <input type="text" id="ip-add-product-price" placeholder="Mã sản phẩm...."
                                                   class="form-control"/>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <div class="col-lg-5">
                                            Thương hiệu
                                        </div>
                                        <div class="col-lg-7">
                                            <select id="ip-add-product-brand" class="form-control select2">
                                                <option value="ALL-PERSON">
                                                    HK
                                                </option>
                                                <option value="PERSON-BUY-MONEY">
                                                    Yoosee
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <div class="col-lg-5"></div>
                                        <div class="col-lg-7">
                                            <input class="form-check-input mt-2" type="checkbox"
                                                   id="ip-add-product-status"/>
                                            <label for="ip-add-product-status" class="col-form-label">
                                                Kinh doanh sản phẩm ngay
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3 row">
                                        <div class="col-lg-5">
                                            Danh mục sản phẩm
                                        </div>
                                        <div class="col-lg-7">
                                            <select id="ip-add-product-category" class="form-control select2"
                                                    data-status="add" onchange="onChangeCategory(this)">
                                                <option value="ALL-PERSON">
                                                    Camera
                                                </option>
                                                <option value="PERSON-BUY-MONEY">
                                                    Thẻ nhớ
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div id="product-add-property">
                                        <div class="mx-3 mb-3 card card-body">
                                            <div class="card-title mb-3">Thuộc tính sản phẩm:</div>
                                            <div class="mb-3 row">
                                                <div class="col-lg-6">
                                                    Độ phân giải
                                                </div>
                                                <div class="col-lg-6">
                                                    <input type="text" placeholder="Mã sản phẩm...."
                                                           class="form-control"/>
                                                </div>
                                            </div>
                                            <div class="mb-3 row">
                                                <div class="col-lg-6">
                                                    Màu sắc
                                                </div>
                                                <div class="col-lg-6">
                                                    <select class="form-control select2 ip-product-color">
                                                        <option value="ALL-PERSON">
                                                            Đỏ
                                                        </option>
                                                        <option value="PERSON-BUY-MONEY">
                                                            Cam
                                                        </option>
                                                        <option value="PERSON-BUY-MONEY">
                                                            Xanh
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="mb-3 row">
                                                <div class="col-lg-6">
                                                    Cân nặng
                                                </div>
                                                <div class="col-lg-6">
                                                    <input type="text" placeholder="Mã sản phẩm...."
                                                           class="form-control"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane p-3" id="description-product" role="tabpanel">
                            <textarea id="productAddDescription" class="form-control"></textarea>
                        </div>
                        <div class="tab-pane p-3" id="image-product" role="tabpanel">
                            <form action="#" class="dropzone">
                                <div class="fallback">
                                    <input name="file" type="file" multiple="multiple">
                                </div>
                                <div class="dz-message needsclick">
                                    <div class="mb-3">
                                        <i class="mdi mdi-cloud-upload display-4 text-muted"></i>
                                    </div>
                                    <h4>Drop files here or click to upload.</h4>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary waves-effect" data-bs-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-success waves-effect waves-light"
                            onclick="onClickSaveProduct()">Lưu
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div id="modal-edit-product" class="modal fade show" style="display: block;" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title mt-0">Sửa sản phẩm</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ul class="nav nav-tabs nav-tabs-custom nav-justified" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-bs-toggle="tab" href="#info-product-edit" role="tab">
                                <span class="d-none d-md-block">Thông tin sản phẩm</span>
                                <span class="d-block d-md-none">
                                    <i class="mdi mdi-home-variant h5"></i>
                                </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#description-product-edit" role="tab">
                                <span class="d-none d-md-block">Mô tả chi tiết sản phẩm</span><span
                                    class="d-block d-md-none"><i class="mdi mdi-account h5"></i></span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#image-product-edit" role="tab">
                                <span class="d-none d-md-block">Hình ảnh sản phẩm</span><span
                                    class="d-block d-md-none"><i class="mdi mdi-account h5"></i></span>
                            </a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active p-3" id="info-product-edit" role="tabpanel">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3 row">
                                        <div class="col-lg-5">
                                            Mã sản phẩm
                                        </div>
                                        <div class="col-lg-7">
                                            <input type="text" id="ip-edit-product-code" placeholder="Mã sản phẩm...."
                                                   class="form-control"/>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <div class="col-lg-5">
                                            Tên sản phẩm
                                        </div>
                                        <div class="col-lg-7">
                                            <input type="text" id="ip-edit-product-name" placeholder="Mã sản phẩm...."
                                                   class="form-control"/>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <div class="col-lg-5">
                                            Giá bán
                                        </div>
                                        <div class="col-lg-7">
                                            <input type="text" id="ip-edit-product-price" placeholder="Mã sản phẩm...."
                                                   class="form-control"/>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <div class="col-lg-5">
                                            Thương hiệu
                                        </div>
                                        <div class="col-lg-7">
                                            <select id="ip-edit-product-brand"
                                                    class="form-control select2 ip-voucher-person-apply">
                                                <option value="ALL-PERSON">
                                                    HK
                                                </option>
                                                <option value="PERSON-BUY-MONEY">
                                                    Yoosee
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <div class="col-lg-5"></div>
                                        <div class="col-lg-7">
                                            <input class="form-check-input mt-2" type="checkbox"
                                                   id="ip-edit-product-status"/>
                                            <label for="ip-edit-product-status" class="col-form-label">
                                                Kinh doanh sản phẩm ngay
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3 row">
                                        <div class="col-lg-5">
                                            Danh mục sản phẩm
                                        </div>
                                        <div class="col-lg-7">
                                            <select id="ip-edit-product-category" class="form-control select2"
                                                    data-status="edit" onchange="onChangeCategory(this)">
                                                <option value="ALL-PERSON">
                                                    Camera
                                                </option>
                                                <option value="PERSON-BUY-MONEY">
                                                    Thẻ nhớ
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div id="product-edit-property">
                                        <div class="mx-3 mb-3 card card-body">
                                            <div class="card-title mb-3">Thuộc tính sản phẩm:</div>
                                            <div class="mb-3 row">
                                                <div class="col-lg-6">
                                                    Độ phân giải
                                                </div>
                                                <div class="col-lg-6">
                                                    <input type="text" placeholder="Mã sản phẩm...."
                                                           class="form-control"/>
                                                </div>
                                            </div>
                                            <div class="mb-3 row">
                                                <div class="col-lg-6">
                                                    Màu sắc
                                                </div>
                                                <div class="col-lg-6">
                                                    <select class="form-control select2 ip-product-color">
                                                        <option value="ALL-PERSON">
                                                            Đỏ
                                                        </option>
                                                        <option value="PERSON-BUY-MONEY">
                                                            Cam
                                                        </option>
                                                        <option value="PERSON-BUY-MONEY">
                                                            Xanh
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="mb-3 row">
                                                <div class="col-lg-6">
                                                    Cân nặng
                                                </div>
                                                <div class="col-lg-6">
                                                    <input type="text" placeholder="Mã sản phẩm...."
                                                           class="form-control"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane p-3" id="description-product-edit" role="tabpanel">
                            <textarea id="productEditDescription" class="form-control"></textarea>
                        </div>
                        <div class="tab-pane p-3" id="image-product-edit" role="tabpanel">
                            <div class="dropzone mb-3">
                                <div class="fallback">
                                    <input id="ip-edit-product-image" hidden type="file" multiple="multiple">
                                </div>
                                <div class="dz-message needsclick" onclick="onClickChooseImage()">
                                    <div class="mb-3">
                                        <i class="mdi mdi-cloud-upload display-4 text-muted"></i>
                                    </div>
                                    <h4>Nhấn để chọn hình ảnh.</h4>
                                </div>
                            </div>
                            <hr/>
                            <div class="file_upload">
                                <div class="bd-example text-center">
                                    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                                        <div class="carousel-indicators" id="carousel-indicators">
                                        </div>
                                        <div class="carousel-inner" id="previewUpload">
                                        </div>
                                        <a class="carousel-control-prev " type="button"
                                           data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Ảnh trước</span>
                                        </a>
                                        <a class="carousel-control-next" type="button"
                                           data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Ảnh sau</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary waves-effect" data-bs-dismiss="modal">Đóng</button>
                    <button type="button" data-id="" class="btn btn-success waves-effect waves-light"
                            id="btn-submit-edit-product" onclick="onClickUpdateProduct(this)">Cập nhật
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <script th:src="@{'/assets/ckeditor/ckeditor.js'}"></script>

    <script>

        let dataImageUploadEdit = [];
        let sizeImage = 0;

        window.onload = function () {
            $('.modal').hide();
            CKEDITOR.replace('productAddDescription');
            CKEDITOR.replace('productEditDescription');
            $('#ip-edit-product-image').change(function () {
                for (var i = 0, f; (f = this.files[i]); i++) {
                    if (!f.type.match("image.*")) {
                        continue;
                    }
                    var reader = new FileReader();
                    reader.onload = (function (theFile) {
                        return function (e) {
                            dataImageUploadEdit.push(e.target.result)
                            addImagePreview(e.target.result)
                        };
                    })(f);
                    // Read in the image file as a data URL.
                    reader.readAsDataURL(f);
                }
            })
        }

        function onClickChooseImage() {
            $('#ip-edit-product-image').click()
        }

        function addImagePreview(image) {
            let carouselIndicators = document.getElementById('carousel-indicators')
            if (sizeImage === 0) {
                carouselIndicators.innerHTML +=
                    '<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="' + sizeImage + '"\n' +
                    'aria-label="Slide ' + sizeImage + '" class="active" aria-current="true"></button>'
            } else {
                carouselIndicators.innerHTML +=
                    '<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="' + sizeImage + '"\n' +
                    'aria-label="Slide ' + sizeImage + '"></button>'
            }
            let divImage = document.createElement('div')
            divImage.className = sizeImage == 0 ? 'carousel-item active' : 'carousel-item'
            divImage.innerHTML = [
                '<img style="height: 600px;" src="',
                image,
                '" title="',
                '"/>'
            ].join("");
            document.getElementById("previewUpload").insertBefore(divImage, null);
            sizeImage += 1;
        }

        function onClickUpdateProduct(e) {
            // get element mã sản phẩm
            let getElementProductCode = document.getElementById('ip-edit-product-code');
            // get element tên sản phẩm
            let getElementProductName = document.getElementById('ip-edit-product-name');
            // get element giá bán
            let getElementProductPrice = document.getElementById('ip-edit-product-price');
            // get element thương hiệu
            let getElementProduuctBrand = document.getElementById('ip-edit-product-brand');
            // get element trạng thái kinh doanh
            let getElementProductStatus = document.getElementById('ip-edit-product-status');
            // get element danh mục sản phẩm
            let getElementProductCategory = document.getElementById('ip-edit-product-category');
            // TODO hiển thị hình ảnh sản phẩm
            // get element hình ảnh sản phẩm
            let getElementProductImage = document.getElementById('ip-edit-product-image');
            // get element thuộc tính sản phẩm
            let getElementProductProperty = document.getElementById('product-edit-property');
            // get mô tả chi tiết sản phẩm
            let productDescription = CKEDITOR.instances.productEditDescription.getData();
            let objectProduct = validateObjectProduct(
                getElementProductCode,
                getElementProductName,
                getElementProductPrice,
                getElementProduuctBrand,
                getElementProductStatus,
                getElementProductCategory,
                productDescription,
                dataImageUploadEdit,
                getElementProductProperty,
            );
            console.log(objectProduct);
            if (objectProduct !== null && objectProduct !== undefined) {
                objectProduct["idProduct"] = e.dataset.id
                $.ajax({
                    url: '/api/product',
                    method: 'PUT',
                    contentType: 'application/json',
                    data: JSON.stringify(objectProduct),
                    success: function (data) {
                        console.log(data);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log(jqXHR);
                    }
                })
            }
        }

        function onClickSaveProduct() {
            // get element mã sản phẩm
            let getElementProductCode = document.getElementById('ip-add-product-code');
            // get element tên sản phẩm
            let getElementProductName = document.getElementById('ip-add-product-name');
            // get element giá bán
            let getElementProductPrice = document.getElementById('ip-add-product-price');
            // get element thương hiệu
            let getElementProduuctBrand = document.getElementById('ip-add-product-brand');
            // get element trạng thái kinh doanh
            let getElementProductStatus = document.getElementById('ip-add-product-status');
            // get element danh mục sản phẩm
            let getElementProductCategory = document.getElementById('ip-add-product-category');
            // TODO hiển thị hình ảnh sản phẩm
            // get element hình ảnh sản phẩm
            let getElementProductImage = document.getElementById('ip-add-product-image');
            // get element thuộc tính sản phẩm
            let getElementProductProperty = document.getElementById('product-add-property');
            // get mô tả chi tiết sản phẩm
            let productDescription = CKEDITOR.instances.productAddDescription.getData();
            let objectProduct = validateObjectProduct(
                getElementProductCode,
                getElementProductName,
                getElementProductPrice,
                getElementProduuctBrand,
                getElementProductStatus,
                getElementProductCategory,
                productDescription,
                getElementProductImage,
                getElementProductProperty,
            );
            console.log(objectProduct);
            if (objectProduct !== null && objectProduct !== undefined) {
                $.ajax({
                    url: '/api/product',
                    method: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(objectProduct),
                    success: function (data) {
                        console.log(data);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log(jqXHR);
                    }
                })
            }
        }

        function validateObjectProduct(
            getElementProductCode,
            getElementProductName,
            getElementProductPrice,
            getElementProduuctBrand,
            getElementProductStatus,
            getElementProductCategory,
            productDescription,
            productImages,
            getElementProductProperty,
        ) {
            let productCode, productName, productPrice, productBrand,
                productStatus, productCategory, productProperties;
            // get mã sản phẩm
            if (getElementProductCode !== null && getElementProductCode !== undefined) {
                productCode = getElementProductCode.value;
            }
            // get tên sản phẩm
            if (getElementProductName !== null && getElementProductName !== undefined) {
                productName = getElementProductName.value;
            }
            // get giá sản bán
            if (getElementProductPrice !== null && getElementProductPrice !== undefined) {
                productPrice = getElementProductPrice.value;
            }
            // get thương hiệu
            if (getElementProduuctBrand !== null && getElementProduuctBrand !== undefined) {
                productBrand = getElementProduuctBrand.value;
            }
            // get trạng thái kinh doanh
            if (getElementProductStatus !== null && getElementProductStatus !== undefined) {
                productStatus = getElementProductStatus.checked;
            }
            // get loại sản phẩm
            if (getElementProductCategory !== null && getElementProductCategory !== undefined) {
                productCategory = getElementProductCategory.value;
            }

            // get thuộc tính sản phẩm
            if (getElementProductProperty !== null && getElementProductProperty !== undefined) {
                productProperties = [];
                let getElementInput = getElementProductProperty.getElementsByTagName('input');
                let getElementSelect = getElementProductProperty.getElementsByTagName('select');
                if (getElementInput !== null && getElementInput !== undefined) {
                    for (let i = 0; i < getElementInput.length; i++) {
                        let value = getElementInput[i].value;
                        if (value !== null && value !== undefined && value !== '') {
                            if (value.length > 50) {
                                console.log('Giá trị thuộc tính không được quá 50 ký tự.');
                                return;
                            }
                            productProperties.push({
                                "propertyId": getElementInput[i].dataset.id,
                                "fixedValueId": null,
                                "inputValue": value,
                            })
                        }
                    }
                }
                if (getElementSelect !== null && getElementSelect !== undefined) {
                    for (let i = 0; i < getElementSelect.length; i++) {
                        let value = getElementInput[i].value;
                        if (value !== null && value !== undefined && value !== '') {
                            productProperties.push({
                                "propertyId": getElementSelect[i].dataset.id,
                                "fixedValueId": value,
                                "inputValue": null,
                            })
                        }
                    }
                }
            }
            // get mô tả chi tiết sản phẩm
            if (productDescription !== null && productDescription !== undefined) {
                productDescription = (productDescription + '').substring(3);
                productDescription = (productDescription + '').substring(0, productDescription.length - 5);
            }

            // validate mã sản phẩm
            if (productCode === null || productCode === undefined || productCode === '') {
                console.log('Vui lòng nhập mã sản phẩm');
                return;
            }
            if (!/^[a-zA-Z0-9\-]+$/.test(productCode)) {
                console.log('Mã sản phẩm không đúng');
                return;
            }
            if (productCode.length < 10 || productCode.length > 50) {
                console.log('Mã sản phẩm chỉ từ 10 đến 50 ký tự');
                return;
            }

            // validate tên sản phẩm
            if (productName === null || productName === undefined || productName === '') {
                console.log('Vui lòng nhập tên sản phẩm');
                return;
            }
            if (productCode.length < 10 || productCode.length > 100) {
                console.log('Tên sản phẩm chỉ từ 10 đến 100 ký tự');
                return;
            }

            // validate giá bán
            if (productPrice === null || productPrice === undefined || productPrice === '') {
                console.log('Vui lòng nhập giá bán đề xuất');
                return;
            }
            if (!/^[0-9]+$/.test(productPrice)) {
                console.log('Giá bán đề xuất không đúng');
                return;
            }
            if (Number(productPrice) < 1) {
                console.log('Giá bán đề xuất phải từ 1đ');
                return;
            }

            // validate thương hiệu
            if (productBrand === null || productBrand === undefined || productBrand === '') {
                console.log('Vui lòng chọn thương hiệu sản xuất của sản phẩm');
                return;
            }

            // validate trạng thái kinh doanh
            if (productStatus === null || productStatus === undefined || productStatus === '') {
                productStatus = false;
            }

            // validate loại sản phẩm & thuộc tính sản phẩm
            if (productCategory === null || productCategory === undefined || productCategory === '') {
                console.log('Vui lòng chọn danh mục sản phẩm');
                return;
            }

            // validate mô tả chi tiết sản phẩm
            if (productDescription === null || productDescription === undefined || productDescription === '') {
                console.log('Vui lòng nhập mô tả chi tiết sản phẩm');
                return;
            }

            // validate hình ảnh sản phẩm
            if (productImages === null || productImages === undefined || productImages.length === 0) {
                console.log('Vui lòng chọn hình ảnh sản phẩm');
                return;
            }

            return {
                "productCode": productCode,
                "productName": productName,
                "productPrice": productPrice,
                "productBrand": productBrand,
                "productStatus": productStatus,
                "productCategory": productCategory,
                "productDescription": productDescription,
                "productImages": productImages,
                "productProperties": productProperties,
            };
        }

        function onChangeCategory(e) {
            // TODO hiển thị danh sách thuộc tính sản phẩm
            let categoryId = e.value
            let status = e.dataset.status
            $.ajax({
                url: '/product/property/add?category=' + categoryId,
                method: 'GET',
                success: function (html) {
                    let getElementProductProperty = document.getElementById('product-' + status + '-property');
                    if (getElementProductProperty !== null) {
                        getElementProductProperty.innerHTML = html;
                    }
                }
            })
        }

        function onClickAddProduct() {
            dataImageUploadEdit = [];
        }

        function onClickEditProduct(e) {
            dataImageUploadEdit = [];
            // TODO lấy thông tin sản phẩm
            console.log(e.dataset.id);
            let id = e.dataset.id;
            // get element mã sản phẩm
            let getElementButtonEditProduct = document.getElementById('btn-submit-edit-product');
            if (getElementButtonEditProduct !== null) {
                getElementButtonEditProduct.dataset.id = id
            }
            // get element mã sản phẩm
            let getElementProductCode = document.getElementById('ip-edit-product-code');
            // get element tên sản phẩm
            let getElementProductName = document.getElementById('ip-edit-product-name');
            // get element giá bán
            let getElementProductPrice = document.getElementById('ip-edit-product-price');
            // get element thương hiệu
            let getElementProduuctBrand = document.getElementById('ip-edit-product-brand');
            // get element trạng thái kinh doanh
            let getElementProductStatus = document.getElementById('ip-edit-product-status');
            // get element danh mục sản phẩm
            let getElementProductCategory = document.getElementById('ip-edit-product-category');
            // get element mô tả chi tiết sản phẩm
            let getElementProductDescription = document.getElementById('product-edit-description');
            // TODO hiển thị hình ảnh sản phẩm
            // get element hình ảnh sản phẩm
            let getElementProductImage = document.getElementById('ip-edit-product-image');
            // get element thuộc tính sản phẩm
            let getElementProductProperty = document.getElementById('product-edit-property');
            $.ajax({
                url: '/api/product/' + id,
                method: 'GET',
                success: function (data) {
                    if (getElementProductCode !== null) {
                        getElementProductCode.value = data.productCode;
                    }
                    if (getElementProductName !== null) {
                        getElementProductName.value = data.productName;
                    }
                    if (getElementProductPrice !== null) {
                        getElementProductPrice.value = data.productPrice;
                    }
                    if (getElementProduuctBrand !== null) {
                        getElementProduuctBrand.value = data.productBrand;
                    }
                    if (getElementProductStatus !== null) {
                        getElementProductStatus.checked = data.productStatus;
                    }
                    if (getElementProductCategory !== null) {
                        getElementProductCategory.value = data.productCategory;
                        $.ajax({
                            url: '/product/property/edit?category=' + data.productCategory + '&product=' + id,
                            method: 'GET',
                            success: function (html) {
                                if (getElementProductProperty !== null) {
                                    getElementProductProperty.innerHTML = html;
                                }
                            }
                        })
                    }

                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(jqXHR)
                }
            })
        }

    </script>

</div>
</body>
</html>
